In [1]:
from timetable import timetable
from passenger import simu
import sys
sys.argv = ['debug.ipynb', 
            '--card_data_path', '../card_info.csv', 
            '--bus_data_path', '../公交数据.xlsx',
            '--road_line_station_setting_path', '../datas/road_line_station_structure_setting.json',
            '--station_distance_rank_path', '../datas/station_pair_distance_rank_index.csv',
            '--id_2_station_path', '../datas/id_2_station.json',
            '--station_2_id_path', '../datas/station_2_id.json']
import argparse
parser = argparse.ArgumentParser()
parser.add_argument('--card_data_path',default='./card_info.csv')
parser.add_argument('--bus_data_path',default= './公交数据.xlsx')
parser.add_argument('--road_line_station_setting_path',default= './datas/road_line_station_structure_setting.json')
parser.add_argument('--station_distance_rank_path',default= './datas/station_pair_distance_rank_index.csv')
parser.add_argument('--id_2_station_path',default= './datas/id_2_station.json')
parser.add_argument('--station_2_id_path',default= './datas/station_2_id.json')
myargs = parser.parse_args()
mytime_table = timetable(\
    card_data_path = myargs.card_data_path,\
    bus_data_path = myargs.bus_data_path,\
    road_line_station_setting_path = myargs.road_line_station_setting_path,\
    station_distance_rank_path = myargs.station_distance_rank_path,\
    id_2_station_path = myargs.id_2_station_path,\
    station_2_id_path = myargs.station_2_id_path)
this_simu = simu(\
    mytime_table,\
    card_data_path = myargs.card_data_path,\
    bus_data_path = myargs.bus_data_path,\
    road_line_station_setting_path = myargs.road_line_station_setting_path,\
    station_distance_rank_path = myargs.station_distance_rank_path,\
    id_2_station_path = myargs.id_2_station_path,\
    station_2_id_path = myargs.station_2_id_path,\
    time_accurate = 8,\
    start_hour = 8,\
    start_minute = 23)

/root/mnt/bus_corr/all_code/timetable.py:144: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trip_1_0929['trip'] = trip_1_0929.\
/root/mnt/bus_corr/all_code/timetable.py:162: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp1.rename(columns = transfer,inplace=True)
/root/mnt/bus_corr/all_code/timetable.py:163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp2.rename(columns = transfer,inplace=True)
2024-06-18 08:25:45.729 | INFO     | timetable:__init__:28 - timetable process time:274.3118476867676
/root/mnt/bus_corr/all_code/passenger.py:131: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  day_0929_dataframe['this_od_trip_start_station'] = day_0929_dataframe.apply(lambda x: self.get_station_id(x['line_identity'],x['station_identity']),axis=1)
2024-06-18 08:26:25.651 | INFO     | passenger:__init__:38 - process time:39.91991448402405

In [2]:
import pandas as pd
this_simu.now_minute += 1
if this_simu.now_minute == 60:
    this_simu.now_minute = 0
    this_simu.now_hour += 1
if this_simu.now_hour == 24:
    this_simu.now_hour = 0
station_id_list = list(this_simu.id_2_station.keys())
now_conditions_df=pd.DataFrame({'this_od_trip_start_station':station_id_list,\
                                        'hour':[this_simu.now_hour]*len(station_id_list),\
                                        'minute_group':[this_simu.now_minute//this_simu.time_accurate]*len(station_id_list)})

In [3]:
now_user_all_possible_route_df = now_conditions_df.merge(\
            this_simu.different_time_user_produce, \
            left_on=['this_od_trip_start_station', 'hour', 'minute_group'],\
            right_on = ['global_station_id','hour','minute_group'], how='left').fillna(0)

/tmp/ipykernel_19929/2998417739.py:4: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  right_on = ['global_station_id','hour','minute_group'], how='left').fillna(0)

In [4]:
this_simu.different_time_user_produce_nums

        this_od_trip_start_station  hour minute_group  count
0                                0     5            0      0
1                                0     5            1      0
2                                0     5            2      0
3                                0     5            3      0
4                                0     5            4      0
...                            ...   ...          ...    ...
177531                        1448    23            3      0
177532                        1448    23            4      0
177533                        1448    23            5      0
177534                        1448    23            6      0
177535                        1448    23            7      0

[177536 rows x 4 columns]

In [5]:
now_station_routes_and_nums = \
                    now_user_all_possible_route_df.merge(this_simu.different_time_user_produce_nums,\
                                     left_on=['this_od_trip_start_station', 'hour', 'minute_group'],\
                                     right_on = ['this_od_trip_start_station', 'hour', 'minute_group'],\
                                     how='left').fillna(0)

/tmp/ipykernel_19929/3131170115.py:5: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  how='left').fillna(0)

In [18]:
import random
import numpy as np
def uniform_sample(x,time_accurate):
    if x['length']!=0:
        #平均流量
        average_nums = int(x['count'])/time_accurate
        actual_nums = np.random.poisson(average_nums)
        return random.choices(x['od_trip'],k=actual_nums)
    else:
        return []

In [20]:
now_station_routes_and_nums['users'] = now_station_routes_and_nums.apply(lambda x:uniform_sample(x,this_simu.time_accurate),axis=1)

In [21]:
now_passengers = []
for row_index in range(len(now_station_routes_and_nums)):
    if len(now_station_routes_and_nums[row_index:row_index+1]['users'].values[0])!=0:
        #print(merged_df[row_index:row_index+1]['users'].values[0])
        start_station = now_station_routes_and_nums[row_index:row_index+1]['this_od_trip_start_station'].values[0]
        start_time = str(this_simu.now_hour)+':'+str(this_simu.now_minute)+':00'
        start_time = pd.to_datetime(start_time, format='%H:%M:%S', errors='coerce').time()
        #start_time = now_station_routes_and_nums[row_index:row_index+1]['minute_group'].values[0]
        for user_instance in now_station_routes_and_nums[row_index:row_index+1]['users'].values[0]:
            now_passengers.append({\
                        'start_station':user_instance['start_station'],\
                        'start_time':start_time,\
                        'target_station':user_instance['end_station'],\
                        'target_line':user_instance['this_line']})
        #根据时间表为每个乘客添加时间表

In [27]:
for user in now_passengers:
    if user['start_station'] < user['target_station'] and this_simu.time_schedule.time_table[user['target_line']] is not None:
        time_df = this_simu.time_schedule.time_table[user['target_line']]
        time_df_column = time_df.loc[:,str(user['start_station'])]
        row_index = time_df_column[time_df_column>=user['start_time']].index.min()
        column_index = time_df.columns.get_loc(str(user['start_station']))
        user['time_table'] = time_df.iloc[row_index,column_index:]
        this_simu.total_passengers.append(user)
    else:
        continue

In [34]:
this_simu.total_passengers

[{'start_station': 6,
  'start_time': datetime.time(8, 24),
  'target_station': 33,
  'target_line': 253,
  'time_table': 6            10:42:35
  7            10:48:48
  8            10:49:57
  9            10:51:44
  10    10:53:43.333333
  11    10:55:42.666667
  12           10:57:42
  13    10:57:44.500000
  14           10:57:47
  15    10:57:49.500000
  16           10:57:52
  17           11:05:34
  18           11:07:13
  19    11:10:26.333333
  20    11:13:39.666667
  21           11:16:53
  22           11:19:18
  23           11:22:18
  24           11:25:18
  25           11:28:18
  26           11:31:01
  27           11:37:54
  28           11:44:47
  29           11:51:40
  30           11:58:33
  31           12:00:57
  32           12:03:12
  33           12:06:13
  34           12:09:14
  35           12:12:34
  36    12:14:41.500000
  37           12:16:49
  38           12:20:13
  39           12:23:37
  40           12:27:01
  41           12:28:39
  42           12:30:17
  43           12:31:55
  44    12:33:29.142857
  45    12:35:03.285714
  46    12:36:37.428571
  47    12:38:11.571429
  48    12:39:45.714286
  49    12:41:19.857143
  50           12:42:54
  51           12:46:47
  52           12:50:40
  53           12:54:33
  54           12:58:26
  55           13:02:19
  56           13:06:12
  Name: 8, dtype: object},
 {'start_station': 6,
  'start_time': datetime.time(8, 24),
  'target_station': 33,
  'target_line': 253,
  'time_table': 6            10:42:35
  7            10:48:48
  8            10:49:57
  9            10:51:44
  10    10:53:43.333333
  11    10:55:42.666667
  12           10:57:42
  13    10:57:44.500000
  14           10:57:47
  15    10:57:49.500000
  16           10:57:52
  17           11:05:34
  18           11:07:13
  19    11:10:26.333333
  20    11:13:39.666667
  21           11:16:53
  22           11:19:18
  23           11:22:18
  24           11:25:18
  25           11:28:18
  26           11:31:01
  27           11:37:54
  28           11:44:47
  29           11:51:40
  30           11:58:33
  31           12:00:57
  32           12:03:12
  33           12:06:13
  34           12:09:14
  35           12:12:34
  36    12:14:41.500000
  37           12:16:49
  38           12:20:13
  39           12:23:37
  40           12:27:01
  41           12:28:39
  42           12:30:17
  43           12:31:55
  44    12:33:29.142857
  45    12:35:03.285714
  46    12:36:37.428571
  47    12:38:11.571429
  48    12:39:45.714286
  49    12:41:19.857143
  50           12:42:54
  51           12:46:47
  52           12:50:40
  53           12:54:33
  54           12:58:26
  55           13:02:19
  56           13:06:12
  Name: 8, dtype: object},
 {'start_station': 1,
  'start_time': datetime.time(8, 24),
  'target_station': 12,
  'target_line': 76,
  'time_table': 1            08:31:28
  2            08:34:46
  3            08:38:59
  4            08:39:35
  5            08:41:33
  6            08:42:58
  7            08:44:23
  8            08:45:14
  9            08:51:30
  10           08:50:11
  11           08:54:20
  12           08:56:01
  13           09:03:04
  14           09:03:24
  15           09:11:18
  16           09:06:21
  17           09:07:55
  18           09:09:29
  19           09:12:28
  20           09:12:57
  21           09:15:29
  22           09:20:19
  23           09:25:02
  24           09:26:12
  25           09:27:22
  26           09:28:32
  27           09:31:29
  28           09:35:41
  29           09:36:46
  30    09:39:19.333333
  31    09:41:52.666667
  32           09:44:26
  33    09:45:57.750000
  34    09:47:29.500000
  35    09:49:01.250000
  36           09:50:33
  37           09:52:19
  38    09:58:14.500000
  39           10:04:10
  40    10:05:54.500000
  41           10:07:39
  42    10:09:23.500000
  43           10:11:08
  44           10:16:02
  45           10:20:56
  46           09:04:34
  47           10:13:23
  48           11:22:12
  49           12:31:01
  50           13:39:50
  Name: 7, dtype: object},
 {'start_station': 1,
  'start_time': datetime.time(8, 24),
  'target_station': 18,
  'target_line': 234,
  'time_table': 1            08:28:31
  2            08:30:35
  3            08:32:20
  4            08:34:29
  5            08:35:59
  6            08:39:13
  7            08:40:51
  8            08:42:07
  9            08:45:59
  10           08:48:04
  11           08:49:42
  12           08:52:02
  13           09:03:51
  14           08:55:27
  15           08:58:06
  16           09:01:42
  17           09:08:42
  18    09:09:34.500000
  19           09:10:27
  20           09:22:57
  21           09:14:17
  22           09:14:22
  23           09:20:28
  24           09:41:03
  25           09:22:46
  26           09:28:16
  27           09:50:06
  28    09:46:29.666667
  29    09:42:53.333333
  30           09:39:17
  31           09:40:38
  32           09:40:52
  33           09:45:39
  34           09:48:49
  35           09:51:59
  Name: 9, dtype: object},
 {'start_station': 1,
  'start_time': datetime.time(8, 24),
  'target_station': 18,
  'target_line': 234,
  'time_table': 1            08:28:31
  2            08:30:35
  3            08:32:20
  4            08:34:29
  5            08:35:59
  6            08:39:13
  7            08:40:51
  8            08:42:07
  9            08:45:59
  10           08:48:04
  11           08:49:42
  12           08:52:02
  13           09:03:51
  14           08:55:27
  15           08:58:06
  16           09:01:42
  17           09:08:42
  18    09:09:34.500000
  19           09:10:27
  20           09:22:57
  21           09:14:17
  22           09:14:22
  23           09:20:28
  24           09:41:03
  25           09:22:46
  26           09:28:16
  27           09:50:06
  28    09:46:29.666667
  29    09:42:53.333333
  30           09:39:17
  31           09:40:38
  32           09:40:52
  33           09:45:39
  34           09:48:49
  35           09:51:59
  Name: 9, dtype: object},
 {'start_station': 9,
  'start_time': datetime.time(8, 24),
  'target_station': 11,
  'target_line': 9,
  'time_table': 9            08:30:20
  10           08:32:07
  11           08:34:10
  12           08:34:35
  13           08:35:52
  14           08:39:05
  15           08:40:00
  16           08:42:48
  17           08:46:06
  18           08:49:37
  19           08:54:10
  20           08:56:56
  21           09:00:28
  22           09:04:00
  23           09:05:54
  24    09:08:41.500000
  25           09:11:29
  26           09:17:09
  27           09:19:50
  28           09:22:24
  29           09:25:37
  30           09:31:55
  31           09:30:46
  32           09:32:49
  33           09:35:52
  34           09:36:49
  35           09:41:34
  36           09:47:39
  37    09:56:33.666667
  38    10:05:28.333333
  39           10:14:23
  40           09:51:37
  41           09:58:59
  42           09:57:47
  43           09:56:35
  44           09:58:59
  45           09:59:52
  46           10:01:16
  47           10:02:40
  Name: 17, dtype: object},
 {'start_station': 30,
  'start_time': datetime.time(8, 24),
  'target_station': 39,
  'target_line': 38,
  'time_table': 30           08:29:29
  31           08:31:19
  32           08:33:20
  33           08:35:16
  34           08:37:51
  35           08:42:05
  36           08:43:50
  37           08:47:45
  38           08:58:12
  39           08:53:03
  40           08:55:58
  41    09:01:23.500000
  42           09:06:49
  43           09:06:51
  44           09:09:23
  45           09:09:48
  46           09:10:13
  47           09:10:38
  48           09:11:03
  Name: 9, dtype: object},
 {'start_station': 24,
  'start_time': datetime.time(8, 24),
  'target_station': 27,
  'target_line': 3,
  'time_table': 24           08:26:08
  25           08:31:33
  26    08:35:45.500000
  27           08:39:58
  28           08:44:11
  29           08:48:24
  Name: 17, dtype: object},
 {'start_station': 28,
  'start_time': datetime.time(8, 24),
  'target_station': 29,
  'target_line': 231,
  'time_table': 28           08:31:03
  29           08:39:32
  30           08:49:57
  31    08:53:05.500000
  32           08:56:14
  33    09:15:31.500000
  34           09:34:49
  35           09:20:32
  36           09:23:45
  37           10:08:04
  38           10:33:07
  39    10:20:21.750000
  40    10:07:36.500000
  41    09:54:51.250000
  42           09:42:06
  43           09:52:19
  44           09:46:16
  45           09:48:28
  46           09:52:03
  47           10:03:04
  48           10:06:30
  49           10:01:50
  50           10:10:44
  51           10:40:18
  52           10:44:03
  53           10:47:48
  54           10:51:33
  55           10:55:18
  56    10:57:37.750000
  57    10:59:57.500000
  58    11:02:17.250000
  59           11:04:37
  60    10:44:14.500000
  61           10:23:52
  62           11:06:13
  63           11:48:34
  64           12:30:55
  65           13:13:16
  Name: 7, dtype: object},
 {'start_station': 24,
  'start_time': datetime.time(8, 24),
  'target_station': 27,
  'target_line': 3,
  'time_table': 24           08:26:08
  25           08:31:33
  26    08:35:45.500000
  27           08:39:58
  28           08:44:11
  29           08:48:24
  Name: 17, dtype: object},
 {'start_station': 28,
  'start_time': datetime.time(8, 24),
  'target_station': 35,
  'target_line': 38,
  'time_table': 28    08:38:39
  29    08:41:20
  30    08:44:40
  31    08:45:59
  32    08:47:19
  33    08:49:10
  34    09:02:23
  35    09:04:04
  36    08:55:45
  37    08:58:49
  38    09:08:12
  39    09:13:00
  40    09:12:59
  41    09:18:54
  42    09:18:51
  43    09:28:19
  44    09:22:22
  45    09:25:46
  46    09:29:10
  47    09:32:34
  48    09:35:58
  Name: 10, dtype: object},
 {'start_station': 28,
  'start_time': datetime.time(8, 24),
  'target_station': 35,
  'target_line': 38,
  'time_table': 28    08:38:39
  29    08:41:20
  30    08:44:40
  31    08:45:59
  32    08:47:19
  33    08:49:10
  34    09:02:23
  35    09:04:04
  36    08:55:45
  37    08:58:49
  38    09:08:12
  39    09:13:00
  40    09:12:59
  41    09:18:54
  42    09:18:51
  43    09:28:19
  44    09:22:22
  45    09:25:46
  46    09:29:10
  47    09:32:34
  48    09:35:58
  Name: 10, dtype: object},
 {'start_station': 8,
  'start_time': datetime.time(8, 24),
  'target_station': 22,
  'target_line': 27,
  'time_table': 8            08:26:28
  9            08:28:07
  10           08:30:58
  11           08:33:49
  12           08:39:10
  13           08:41:07
  14           08:44:04
  15           09:04:29
  16    09:01:18.666667
  17    08:58:08.333333
  18           08:54:58
  19           08:57:25
  20           09:11:56
  21           09:16:43
  22           09:12:15
  23           09:16:37
  24           09:20:43
  25           09:24:03
  26           09:25:45
  27           09:28:49
  28           09:29:31
  29           09:43:31
  30           09:49:48
  31           09:47:39
  32           09:45:30
  33           09:43:21
  34           09:41:12
  35           09:39:03
  Name: 9, dtype: object},
 {'start_station': 6,
  'start_time': datetime.time(8, 24),
  'target_station': 25,
  'target_line': 36,
  'time_table': 6            08:27:02
  7            08:28:13
  8            08:29:56
  9            08:31:33
  10           08:32:44
  11           08:38:07
  12    08:42:22.333333
  14           08:50:53
  15           08:53:47
  16           08:57:37
  17           09:00:11
  18           09:00:29
  19           09:00:47
  20           09:01:05
  21           09:03:45
  22           09:05:14
  23           09:06:43
  24           09:08:12
  25           09:13:32
  26           09:18:21
  27           09:19:02
  28           09:19:43
  29           09:25:11
  30           09:36:30
  31           09:38:18
  32           09:40:02
  33           09:43:39
  34           09:47:16
  35           09:49:57
  36           09:52:38
  37           09:55:19
  38    09:58:10.666667
  13           08:46:39
  40           10:03:54
  42           10:06:45
  39           09:50:00
  41           10:01:12
  43           10:06:24
  Name: 15, dtype: object},
 {'start_station': 1,
  'start_time': datetime.time(8, 24),
  'target_station': 17,
  'target_line': 238,
  'time_table': 1            08:28:43
  2            08:31:48
  3            08:34:26
  4            08:37:45
  5            08:42:40
  6            08:41:02
  7            08:41:10
  8            08:47:49
  9            08:56:32
  10           08:59:18
  11           09:03:03
  12           09:03:21
  13           09:12:20
  14    09:14:24.500000
  15           09:16:29
  16           09:15:31
  17           09:14:33
  18           09:15:48
  19           09:17:03
  20           09:18:18
  21           09:19:52
  22           09:21:31
  23           09:22:10
  24           09:27:16
  25           09:31:47
  26           09:36:18
  28           09:38:00
  30           09:40:52
  36           10:12:50
  27    09:41:30.285714
  29           09:48:28
  31           10:02:07
  33           09:48:34
  32           09:57:00
  35           10:12:18
  37           10:15:45
  34    10:10:34.500000
  Name: 11, dtype: object},
 {'start_station': 1,
  'start_time': datetime.time(8, 24),
  'target_station': 8,
  'target_line': 269,
  'time_table': 1            08:30:45
  2            08:32:36
  3            08:33:36
  4            08:36:30
  5            08:40:43
  6            08:41:07
  7            08:45:07
  8            08:48:53
  9            08:50:18
  10           08:52:47
  11           08:54:07
  12           08:55:55
  13           09:00:58
  14           09:00:25
  15           09:02:53
  16           09:06:34
  17           09:14:19
  18    09:13:45.333333
  19    09:13:11.666667
  20           09:12:38
  21    09:13:06.333333
  22    09:13:34.666667
  23           09:14:03
  24    09:30:24.500000
  25           09:46:46
  26    10:03:07.500000
  27           10:19:29
  28           09:59:22
  29           09:39:15
  30           09:42:11
  31           10:17:24
  32           09:46:18
  33           09:48:50
  34           09:54:15
  35    10:05:39.333333
  36    10:17:03.666667
  37           10:28:28
  38    10:29:58.857143
  39    10:31:29.714286
  40    10:33:00.571429
  41    10:34:31.428571
  43    10:37:33.142857
  46    10:42:05.714286
  42    10:36:02.285714
  44           10:39:04
  48           10:17:50
  51    10:01:54.500000
  Name: 6, dtype: object},
 {'start_station': 1,
  'start_time': datetime.time(8, 24),
  'target_station': 18,
  'target_line': 238,
  'time_table': 1            08:28:43
  2            08:31:48
  3            08:34:26
  4            08:37:45
  5            08:42:40
  6            08:41:02
  7            08:41:10
  8            08:47:49
  9            08:56:32
  10           08:59:18
  11           09:03:03
  12           09:03:21
  13           09:12:20
  14    09:14:24.500000
  15           09:16:29
  16           09:15:31
  17           09:14:33
  18           09:15:48
  19           09:17:03
  20           09:18:18
  21           09:19:52
  22           09:21:31
  23           09:22:10
  24           09:27:16
  25           09:31:47
  26           09:36:18
  28           09:38:00
  30           09:40:52
  36           10:12:50
  27    09:41:30.285714
  29           09:48:28
  31           10:02:07
  33           09:48:34
  32           09:57:00
  35           10:12:18
  37           10:15:45
  34    10:10:34.500000
  Name: 11, dtype: object},
 {'start_station': 1,
  'start_time': datetime.time(8, 24),
  'target_station': 20,
  'target_line': 311,
  'time_table': 1     08:25:29
  2     08:27:17
  3     08:29:46
  4     08:31:15
  5     08:33:15
  6     08:34:55
  7     08:38:25
  8     08:39:31
  9     08:42:05
  10    08:46:35
  11    08:48:34
  12    08:52:29
  13    08:54:47
  14    08:54:55
  15    08:58:16
  16    08:59:59
  17    09:01:42
  18    09:04:05
  19    09:06:43
  20    09:10:09
  21    09:13:35
  22    09:15:31
  23    09:20:37
  24    09:22:57
  25    09:23:32
  26    09:25:26
  27    09:27:06
  28    09:28:46
  29    09:33:38
  30    09:38:53
  31    09:39:13
  32    09:39:33
  33    09:39:53
  Name: 14, dtype: object},
 {'start_station': 24,
  'start_time': datetime.time(8, 24),
  'target_station': 28,
  'target_line': 32,
  'time_table': 24           08:25:59
  25           08:44:21
  26           08:41:08
  27           08:37:55
  28           08:34:42
  29           09:03:43
  30           08:42:28
  31           08:43:52
  32           08:58:30
  33           09:11:10
  34           08:51:43
  35           09:20:07
  36           09:02:30
  37           09:08:02
  38           09:09:12
  39           09:11:04
  40           09:14:47
  41           09:34:44
  42           09:20:14
  43           09:21:17
  44           09:41:05
  45    09:45:41.500000
  46           09:50:18
  47           09:43:56
  48           09:37:34
  49           09:31:12
  50           09:33:29
  51           09:35:46
  52           09:38:03
  Name: 9, dtype: object},
 {'start_station': 31,
  'start_time': datetime.time(8, 24),
  'target_station': 32,
  'target_line': 6,
  'time_table': 31    08:29:00.285714
  32    08:32:04.857143
  33    08:35:09.428571
  34           08:38:14
  35           08:41:19
  Name: 5, dtype: object},
 {'start_station': 9,
  'start_time': datetime.time(8, 24),
  'target_station': 13,
  'target_line': 82,
  'time_table': 9            08:28:22
  10           08:30:46
  11    08:32:25.500000
  12           08:34:05
  13           08:37:32
  14           08:37:40
  15           08:40:07
  16           08:43:02
  17           08:45:48
  18           08:48:34
  19           08:53:29
  20           08:55:18
  21           08:57:07
  22    08:58:15.500000
  23           08:59:24
  24           09:01:28
  25           09:02:42
  26           09:03:58
  27           09:05:35
  28           09:10:59
  29           09:14:16
  30           09:15:53
  31           09:16:52
  32           09:17:51
  33           09:18:50
  34           09:19:49
  35           09:20:48
  36           09:21:47
  Name: 4, dtype: object},
 {'start_station': 9,
  'start_time': datetime.time(8, 24),
  'target_station': 13,
  'target_line': 82,
  'time_table': 9            08:28:22
  10           08:30:46
  11    08:32:25.500000
  12           08:34:05
  13           08:37:32
  14           08:37:40
  15           08:40:07
  16           08:43:02
  17           08:45:48
  18           08:48:34
  19           08:53:29
  20           08:55:18
  21           08:57:07
  22    08:58:15.500000
  23           08:59:24
  24           09:01:28
  25           09:02:42
  26           09:03:58
  27           09:05:35
  28           09:10:59
  29           09:14:16
  30           09:15:53
  31           09:16:52
  32           09:17:51
  33           09:18:50
  34           09:19:49
  35           09:20:48
  36           09:21:47
  Name: 4, dtype: object},
 {'start_station': 9,
  'start_time': datetime.time(8, 24),
  'target_station': 13,
  'target_line': 82,
  'time_table': 9            08:28:22
  10           08:30:46
  11    08:32:25.500000
  12           08:34:05
  13           08:37:32
  14           08:37:40
  15           08:40:07
  16           08:43:02
  17           08:45:48
  18           08:48:34
  19           08:53:29
  20           08:55:18
  21           08:57:07
  22    08:58:15.500000
  23           08:59:24
  24           09:01:28
  25           09:02:42
  26           09:03:58
  27           09:05:35
  28           09:10:59
  29           09:14:16
  30           09:15:53
  31           09:16:52
  32           09:17:51
  33           09:18:50
  34           09:19:49
  35           09:20:48
  36           09:21:47
  Name: 4, dtype: object},
 {'start_station': 13,
  'start_time': datetime.time(8, 24),
  'target_station': 26,
  'target_line': 76,

In [50]:
from collections import defaultdict
now_time = str(this_simu.now_hour)+':'+str(this_simu.now_minute+30)+':00'
now_time = pd.to_datetime(now_time, format='%H:%M:%S', errors='coerce').time()
road_section_people_nums = defaultdict(int)
station_people_nums = defaultdict(int)

In [53]:
for user in this_simu.total_passengers:
    if user['time_table'].iloc[-1] is None or user['time_table'].iloc[-1]<now_time:
        print(user)
        this_simu.total_passengers.remove(user)
        continue
    else:
        next_id = None
        for i in range(len(user['time_table'])):
            if user['time_table'].iloc[i]>now_time:
                next_id = i
                break
        if next_id is None:
            #说明已经走完
            this_simu.total_passengers.remove(user)
            continue
        this_line = user['target_line']
        end_station = this_simu.road_line_station_structure_setting[str(this_line)]['all_stations'][next_id]
        if next_id == 0:
            #说明还没开始
            station_people_nums[this_simu.station_2_id[end_station]] +=1
            continue
        #根据当前线路和站点编号来确定路段。
        start_station = this_simu.road_line_station_structure_setting[str(this_line)]['all_stations'][next_id-1]
        road_section = f"{this_simu.station_2_id[start_station]}_{this_simu.station_2_id[end_station]}"
        road_section_people_nums[road_section] +=1
this_simu.road_section_people_nums = road_section_people_nums
this_simu.station_people_nums = station_people_nums

{'start_station': 6, 'start_time': datetime.time(8, 24), 'target_station': 33, 'target_line': 62, 'time_table': 6            08:31:16
7            08:34:04
8            08:34:32
9            08:35:00
10           08:35:28
11    08:36:53.500000
12           08:38:19
13           09:57:59
14           08:39:51
15    08:40:45.500000
16           08:41:40
17    08:42:48.500000
18           08:43:57
19    08:44:53.500000
20           08:45:50
21           08:49:30
22           08:53:10
23           09:45:15
24           08:51:00
25           11:11:38
26    11:02:12.900000
27    10:52:47.800000
28    10:43:22.700000
29    10:33:57.600000
30    10:24:32.500000
31    10:15:07.400000
32    10:05:42.300000
33    09:56:17.200000
34    09:46:52.100000
35           09:37:27
36           09:28:02
37           09:18:37
38           09:09:12
39           08:59:47
40           08:50:22
Name: 16, dtype: object}
{'start_station': 38, 'start_time': datetime.time(8, 24), 'target_station': 48, 'target_line': 263, 'time_table': 38    08:46:01.400000
39    08:43:06.800000
40    08:40:12.200000
41    08:37:17.600000
42           08:34:23
43           08:38:16
44           08:42:09
45           08:52:25
46    08:42:46.300000
47    08:33:07.600000
48    08:23:28.900000
49    08:13:50.200000
50    08:04:11.500000
51    07:54:32.800000
52    07:44:54.100000
53    07:35:15.400000
54    07:25:36.700000
55           07:15:58
56           07:06:20
57           06:56:42
58           06:47:04
59           06:37:26
Name: 4, dtype: object}
{'start_station': 16, 'start_time': datetime.time(8, 24), 'target_station': 19, 'target_line': 3, 'time_table': 16    08:25:33
17    08:26:06
18    08:30:22
19    08:31:13
20    08:41:36
21    08:35:03
22    08:36:42
23    08:38:07
24    08:39:50
25    08:54:32
26    08:50:43
27    08:46:54
28    08:43:05
29    08:39:16
Name: 20, dtype: object}
{'start_station': 48, 'start_time': datetime.time(8, 24), 'target_station': 53, 'target_line': 11, 'time_table': 48    08:27:56
49    08:29:34
50    08:31:12
51    08:32:20
52    08:33:28
53    08:34:36
Name: 4, dtype: object}
{'start_station': 27, 'start_time': datetime.time(8, 24), 'target_station': 38, 'target_line': 26, 'time_table': 27    08:37:22
28    08:38:14
Name: 6, dtype: object}
{'start_station': 19, 'start_time': datetime.time(8, 24), 'target_station': 23, 'target_line': 16, 'time_table': 19    08:31:29
20    08:39:50
21    08:34:45
22    08:37:37
23    08:40:04
24    08:44:28
25    08:47:07
26    08:47:59
27    08:48:51
Name: 10, dtype: object}
{'start_station': 17, 'start_time': datetime.time(8, 24), 'target_station': 20, 'target_line': 16, 'time_table': 17    08:27:37
18    08:29:24
19    08:31:29
20    08:39:50
21    08:34:45
22    08:37:37
23    08:40:04
24    08:44:28
25    08:47:07
26    08:47:59
27    08:48:51
Name: 10, dtype: object}
{'start_station': 21, 'start_time': datetime.time(8, 24), 'target_station': 23, 'target_line': 12, 'time_table': 21    08:28:58
22    08:30:34
23    08:38:21
24    08:46:08
25    08:53:55
Name: 7, dtype: object}
{'start_station': 22, 'start_time': datetime.time(8, 24), 'target_station': 33, 'target_line': 501, 'time_table': 22           08:24:16
23           08:25:17
24           08:25:21
25           08:30:00
26           08:32:38
27    08:32:55.666667
28    08:33:13.333333
29           08:33:31
30           08:36:13
31           08:36:33
32           08:41:26
33           08:43:24
34           08:36:36
36           08:41:06
37           08:42:33
38           08:42:56
39           08:52:40
40           09:02:24
41           09:12:08
42           09:21:52
43           09:31:36
44           09:41:20
45           09:51:04
47           10:10:32
48           10:20:16
49           10:30:00
50           10:39:44
51           10:49:28
52           10:59:12
20           05:47:44
16           05:08:48
15           04:59:04
17           05:18:32
35           08:13:44
Name: 16, dtype: object}
{'start_station': 30, 'start_time': datetime.time(8, 24), 'target_station': 34, 'target_line': 5, 'time_table': 30           08:25:47
31           08:25:54
32           08:26:01
33    08:26:53.500000
34           08:27:46
35           08:30:35
36           08:33:24
Name: 3, dtype: object}
{'start_station': 18, 'start_time': datetime.time(8, 24), 'target_station': 22, 'target_line': 16, 'time_table': 18    08:29:24
19    08:31:29
20    08:39:50
21    08:34:45
22    08:37:37
23    08:40:04
24    08:44:28
25    08:47:07
26    08:47:59
27    08:48:51
Name: 10, dtype: object}
{'start_station': 25, 'start_time': datetime.time(8, 24), 'target_station': 30, 'target_line': 61, 'time_table': 25           08:25:23
26           08:27:06
27           08:28:56
28           08:31:24
29           08:33:28
30           08:36:09
31           08:43:36
32           08:42:03
33           08:48:17
34    08:51:05.200000
36    08:56:41.600000
37    08:59:29.800000
38           09:02:18
39           08:56:17
40           09:06:33
41           09:06:45
42           09:09:05
43           09:10:22
44           09:52:01
45    09:59:00.222222
47    10:12:58.666667
48    10:19:57.888889
49    10:26:57.111111
50    10:33:56.333333
51    10:40:55.555556
15    06:29:23.555556
16    06:36:22.777778
35           08:49:08
18    06:50:20.526316
Name: 6, dtype: object}
{'start_station': 1, 'start_time': datetime.time(8, 24), 'target_station': 24, 'target_line': 313, 'time_table': 1            08:26:13
2            08:31:16
3            08:29:59
4            08:30:43
5            08:32:58
6            08:36:15
7            08:37:38
8            08:41:19
9            08:42:33
10           08:44:42
11           08:49:15
12           08:49:53
13           08:53:31
14    08:54:54.500000
15           08:56:18
16           08:58:20
17           09:05:43
18           09:01:20
19    09:02:22.500000
20           09:03:25
21           09:07:21
22           09:10:31
23           09:11:03
24           09:22:47
25    09:22:10.666667
26    09:21:34.333333
27           09:20:58
28           09:22:56
29           09:24:54
30           09:26:52
0            08:27:52
Name: 8, dtype: object}

In [58]:
this_simu.road_section_people_nums

defaultdict(int,
            {'874_663': 4,
             '933_744': 2,
             '1268_516': 4,
             '280_1011': 3,
             '28_31': 2,
             '659_828': 2,
             '1414_555': 4,
             '368_366': 2,
             '261_263': 2,
             '414_916': 2,
             '1045_1047': 5,
             '196_80': 2,
             '622_38': 2,
             '249_610': 2,
             '1155_263': 4,
             '1158_719': 4,
             '719_720': 8,
             '82_874': 2,
             '216_128': 6,
             '1155_756': 2,
             '798_799': 2,
             '33_28': 4,
             '184_807': 2,
             '1196_424': 2,
             '1148_1009': 2,
             '1414_1414': 6,
             '1063_1262': 3,
             '44_537': 2,
             '460_1277': 4,
             '66_461': 2,
             '1016_208': 6,
             '956_262': 2,
             '987_431': 4,
             '623_354': 6,
             '226_983': 4,
             '1373_1372': 12,
             '403_807': 2,
             '432_401': 2,
             '1118_1157': 18,
             '216_263': 2,
             '404_1173': 3,
             '731_33': 3,
             '768_1414': 4,
             '852_495': 2,
             '909_405': 2,
             '744_403': 8,
             '1122_798': 2,
             '1264_1293': 2,
             '341_929': 8,
             '261_1414': 6,
             '354_1073': 1,
             '2_790': 2,
             '353_623': 3,
             '419_610': 2,
             '31_28': 4,
             '1372_353': 2,
             '396_1036': 8,
             '951_493': 6,
             '239_628': 2,
             '657_1245': 4,
             '778_643': 2,
             '16_1358': 2,
             '1358_1173': 1,
             '49_144': 6,
             '284_300': 2,
             '371_419': 4,
             '1173_1155': 4,
             '389_1011': 2,
             '424_555': 4,
             '1414_261': 2,
             '539_851': 1,
             '31_122': 2,
             '983_633': 2,
             '1176_643': 2,
             '359_448': 2,
             '1052_1120': 5,
             '291_359': 4,
             '466_87': 2,
             '1155_216': 6,
             '577_268': 2,
             '1290_1288': 4,
             '1108_25': 2,
             '627_239': 2,
             '160_1138': 4,
             '349_128': 4,
             '584_1108': 4,
             '730_1283': 2,
             '1238_1427': 2,
             '945_687': 2,
             '290_410': 3,
             '35_471': 1,
             '758_711': 2,
             '1257_345': 6,
             '629_874': 2,
             '1036_522': 6,
             '523_1269': 4,
             '1314_320': 6,
             '682_1063': 8,
             '987_349': 3,
             '570_571': 2,
             '584_516': 2,
             '758_1208': 2,
             '1269_1422': 2,
             '406_711': 2,
             '23_933': 6,
             '1073_745': 4,
             '744_933': 6,
             '767_424': 2,
             '1061_1062': 2,
             '1030_2': 3,
             '1304_447': 2,
             '711_406': 1,
             '555_987': 3,
             '336_692': 2,
             '387_349': 2,
             '851_850': 2,
             '406_387': 2,
             '233_948': 2,
             '242_1267': 2,
             '431_430': 2,
             '1279_35': 2,
             '1413_1412': 2,
             '239_1150': 2,
             '908_1155': 2,
             '993_997': 3,
             '368_1285': 2,
             '427_143': 2,
             '335_1196': 2,
             '230_953': 2,
             '724_725': 1,
             '1075_69': 2,
             '745_23': 4,
             '1268_387': 2,
             '1011_1268': 2,
             '1188_32': 2,
             '552_550': 2,
             '403_744': 4,
             '349_534': 3,
             '1280_399': 4,
             '1208_866': 4,
             '913_534': 2,
             '590_207': 3,
             '736_1287': 2,
             '635_638': 4,
             '263_261': 2,
             '1196_122': 5,
             '534_534': 2,
             '251_1177': 2,
             '909_404': 4,
             '1417_987': 2,
             '1098_1112': 2,
             '401_274': 4,
             '607_1159': 2,
             '1320_1319': 6,
             '862_873': 4,
             '1218_1400': 6,
             '1188_916': 2,
             '795_1052': 2,
             '1228_521': 2,
             '473_1427': 2,
             '1231_442': 3,
             '1422_344': 3,
             '687_369': 4,
             '355_356': 4,
             '471_1373': 2,
             '155_465': 12,
             '1280_1100': 1,
             '1288_1292': 1,
             '1019_743': 1,
             '534_908': 1,
             '767_555': 1,
             '572_570': 1,
             '1319_1320': 1,
             '430_1376': 1,
             '61_1304': 1,
             '1197_1249': 1,
             '1412_1074': 1,
             '306_603': 1,
             '800_801': 1,
             '913_913': 1,
             '526_526': 2,
             '818_804': 1,
             '1392_444': 1,
             '404_909': 1,
             '1392_254': 1,
             '1074_624': 1})

In [59]:
bus_station_dataframe = pd.read_excel(this_simu.bus_data_path,sheet_name='站点数据',header=0,engine='openpyxl')

In [60]:
station_id_position=bus_station_dataframe.groupby('station_name').agg({'longitude':list,'latitude':list}).reset_index()
station_id_position['position'] = station_id_position.apply(lambda x:list(zip(x['latitude'],x['longitude']))[0],axis=1)
station_id_position

,station_name,longitude,latitude,position
0,(招呼站),"[106.5801119, 106.5575612, 106.5576282, 106.58...","[26.59040183, 26.577878, 26.57782781, 26.59018...","(26.59040183, 106.5801119)"
1,113厂小区,"[106.5630178, 106.5632161, 106.5628332, 106.56...","[26.57862194, 26.5785675, 26.57868844, 26.5786...","(26.57862194, 106.5630178)"
2,117地质队,"[106.7688376, 106.7685385, 106.768485, 106.768...","[26.63724226, 26.63684666, 26.6368646, 26.6367...","(26.63724226, 106.7688376)"
3,1958文化园,"[106.7881349, 106.7891719, 106.7874563, 106.78...","[26.53229576, 26.53237993, 26.53225362, 26.532...","(26.53229576, 106.7881349)"
4,501厂宿舍区,"[106.7631462, 106.7625173]","[26.64173251, 26.6401791]","(26.64173251, 106.7631462)"
...,...,...,...,...
1444,龙腾路口,"[106.761795, 106.7620106, 106.7623181, 106.760...","[26.52817184, 26.52666897, 26.5264141, 26.5281...","(26.52817184, 106.761795)"
1445,龙里中学,"[106.9629062, 106.9625878]","[26.46840006, 26.46828237]","(26.46840006, 106.9629062)"
1446,龙里北站,"[106.9628928, 106.9613315]","[26.46844193, 26.46822098]","(26.46844193, 106.9628928)"
1447,龙里经开区,"[106.9944336, 106.9946952]","[26.49421233, 26.49488983]","(26.49421233, 106.9944336)"
1448,龚家寨,"[106.6520566, 106.652242, 106.652317, 106.6520...","[26.69330782, 26.69423747, 26.69411016, 26.693...","(26.69330782, 106.6520566)"

In [61]:
station_id_position['station_id'] = station_id_position.apply(lambda x:this_simu.station_2_id[x['station_name']],axis=1)
coords_dict = {row['station_id']: row['position'] for idx, row in station_id_position.iterrows()}
coords_dict

{0: (26.59040183, 106.5801119),
 1: (26.57862194, 106.5630178),
 2: (26.63724226, 106.7688376),
 3: (26.53229576, 106.7881349),
 4: (26.64173251, 106.7631462),
 5: (26.39770667, 106.6573478),
 6: (67.0, 103.0),
 7: (26.64928746, 106.7751496),
 8: (26.50670201, 106.7076703),
 9: (26.55472207, 106.5596473),
 10: (26.49253333, 106.64477),
 11: (26.35832503, 106.4871699),
 12: (26.35774732, 106.4863408),
 13: (26.35787556, 106.4859275),
 14: (26.57886761, 106.7183371),
 15: (26.63982588, 106.7737647),
 16: (26.61413151, 106.7175399),
 17: (26.64282322, 106.7730284),
 18: (26.59463722, 106.6053178),
 19: (26.59022111, 106.6087613),
 20: (26.48590773, 106.8582698),
 21: (26.40331578, 106.6715017),
 22: (26.41342485, 106.6739867),
 23: (26.54473215, 106.6935731),
 24: (26.5295639, 106.6950446),
 25: (26.5674414, 106.7509953),
 26: (26.58506507, 106.6548296),
 27: (26.48664814, 106.802645),
 28: (26.58348101, 106.6672733),
 29: (26.58765656, 106.6669176),
 30: (26.58722693, 106.6670077),
 31: (26.58322662, 106.6705425),
 32: (26.58216041, 106.6615045),
 33: (26.58598071, 106.6593286),
 34: (26.67986017, 106.8247443),
 35: (26.50786585, 106.6980927),
 36: (26.60467929, 106.5603637),
 37: (26.40430281, 106.4992858),
 38: (26.46138903, 106.504435),
 39: (26.52099729, 106.6688712),
 40: (26.52124183, 106.6645248),
 41: (26.51419795, 106.6713312),
 42: (26.51425821, 106.6725848),
 43: (26.66456503, 106.63684),
 44: (26.55134934, 106.7053843),
 45: (26.5504815, 106.707568),
 46: (26.58370328, 106.5407916),
 47: (26.70967501, 106.7153525),
 48: (26.63055205, 106.5865651),
 49: (26.63452417, 106.596521),
 50: (26.62527978, 106.6083413),
 51: (26.51897138, 106.8029568),
 52: (26.47613356, 106.5116132),
 53: (26.528825, 106.6656167),
 54: (26.53556675, 106.6659604),
 55: (26.70496196, 106.6194174),
 56: (26.38269109, 106.6629003),
 57: (26.65790319, 106.5960624),
 58: (26.65988338, 106.5763627),
 59: (26.61493516, 106.7065493),
 60: (26.61138052, 106.6340451),
 61: (26.58437788, 106.7269598),
 62: (26.58560997, 106.7303894),
 63: (26.57350069, 106.7288174),
 64: (26.59240472, 106.7319511),
 65: (26.65997469, 106.6364665),
 66: (26.54684126, 106.7319511),
 67: (26.67189103, 106.7380357),
 68: (26.55489188, 106.7263777),
 69: (26.58061945, 106.715628),
 70: (26.64103854, 106.8130687),
 71: (27.09726248, 106.7337188),
 72: (26.64274651, 106.8099678),
 73: (26.51257199, 106.705415),
 74: (26.51360232, 106.7052919),
 75: (26.51706195, 106.705413),
 76: (27.09689656, 106.7352771),
 77: (26.58627599, 106.7088209),
 78: (26.52102184, 106.6662367),
 79: (26.59335017, 106.6673887),
 80: (26.60439253, 106.7565677),
 81: (26.60643429, 106.7487547),
 82: (26.60676813, 106.7489981),
 83: (26.62031287, 106.7295978),
 84: (26.61933005, 106.7299209),
 85: (26.56880575, 106.6731045),
 86: (26.5796777, 106.5124411),
 87: (26.58153558, 106.7144619),
 88: (26.57850889, 106.6930914),
 89: (26.56878322, 106.6742655),
 90: (26.57855694, 106.6930406),
 91: (26.50879449, 106.6807775),
 92: (26.50800294, 106.6731454),
 93: (26.4947426, 106.6712914),
 94: (26.50149894, 106.6727446),
 95: (26.47254667, 106.6930468),
 96: (26.62295359, 106.7371985),
 97: (26.67879444, 106.6140784),
 98: (26.68784988, 106.7248987),
 99: (26.49409354, 106.8363733),
 100: (26.46212259, 106.659701),
 101: (26.48407906, 106.8367119),
 102: (26.51665843, 106.8561586),
 103: (26.4885771, 106.8452541),
 104: (26.4562552, 106.7238203),
 105: (26.6193, 106.7088085),
 106: (26.58536583, 106.6964607),
 107: (26.52323568, 106.5847002),
 108: (26.48983878, 106.7022421),
 109: (26.49044737, 106.7088584),
 110: (26.63476914, 106.8203308),
 111: (26.69669282, 106.8605526),
 112: (26.36542153, 106.6814354),
 113: (26.59595448, 106.6587837),
 114: (27.11451552, 106.7273601),
 115: (26.45161533, 106.743216),
 116: (26.4672665, 106.7414094),
 117: (26.57117164, 106.4814783),
 118: (26.52015686, 106.6738209),
 119: (26.52332431, 106.7015585),
 120: (26.52506328, 106.8107912),
 121: (26.51593435, 106.7294242),
 122: (26.58381873, 106.6754509),
 123: (26.64938617, 106.5891352),
 124: (26.55232561, 106.7820897),
 125: (26.60378306, 106.6044122),
 126: (26.63968879, 106.7779325),
 127: (26.60156524, 106.7511707),
 128: (26.5918324, 106.7078751),
 129: (26.56636256, 106.7723851),
 130: (26.56664109, 106.771231),
 131: (26.56812686, 106.7652732),
 132: (26.56655633, 106.7811273),
 133: (26.56185007, 106.7870144),
 134: (26.56791365, 106.7763088),
 135: (26.55689812, 106.7908056),
 136: (26.5569033, 106.7907829),
 137: (26.56513778, 106.4672717),
 138: (26.56690603, 106.4659932),
 139: (26.68252194, 106.6222547),
 140: (26.35655373, 106.4473883),
 141: (26.66623163, 106.6055249),
 142: (26.64755124, 106.6063851),
 143: (26.63105136, 106.6053085),
 144: (26.63584107, 106.60636),
 145: (26.69889134, 106.6549761),
 146: (26.70062733, 106.6531171),
 147: (26.69994164, 106.6496851),
 148: (26.70148903, 106.6442819),
 149: (26.69865721, 106.6255884),
 150: (27.06713096, 106.7462031),
 151: (26.69570345, 106.6145253),
 152: (26.69784123, 106.6193417),
 153: (26.68546313, 106.6076186),
 154: (26.69759929, 106.6191559),
 155: (27.06725224, 106.746181),
 156: (26.69458383, 106.6787204),
 157: (26.76101166, 106.6822643),
 158: (26.65298283, 106.7789148),
 159: (26.42289096, 106.7447229),
 160: (26.55835003, 106.6900363),
 161: (26.56516167, 106.671695),
 162: (26.571039, 106.675274),
 163: (26.56980348, 106.6743329),
 164: (26.50909859, 106.7107539),
 165: (26.59757352, 106.6676999),
 166: (26.58873987, 106.5485824),
 167: (26.4577181, 106.4926309),
 168: (26.5850628, 106.5419317),
 169: (26.72548079, 106.6250093),
 170: (26.58260727, 106.7061361),
 171: (26.59238404, 106.7039947),
 172: (26.56840992, 106.6993403),
 173: (26.4190833, 106.7226464),
 174: (26.58997643, 106.7298881),
 175: (26.5853557, 106.7296574),
 176: (26.58539486, 106.726432),
 177: (26.64287442, 106.6441622),
 178: (26.64337093, 106.6402466),
 179: (26.64059383, 106.6404917),
 180: (26.63833892, 106.6392041),
 181: (26.57145172, 106.5091444),
 182: (26.52136886, 106.4980598),
 183: (26.6164217, 106.5979092),
 184: (26.56606139, 106.6982444),
 185: (26.58630848, 106.5540911),
 186: (27.09697381, 106.7296933),
 187: (26.64998364, 106.6797257),
 188: (26.64958864, 106.7599198),
 189: (26.61565, 106.692883),
 190: (26.66080972, 106.7494764),
 191: (26.65340388, 106.7568389),
 192: (26.65296528, 106.7567881),
 193: (26.6254456, 106.7816477),
 194: (26.62506658, 106.7826941),
 195: (26.660985, 106.7498964),
 196: (26.61308658, 106.7605387),
 197: (26.65682194, 106.7510706),
 198: (26.64883775, 106.759382),
 199: (26.69469744, 106.7280507),
 200: (26.68284106, 106.6680359),
 201: (26.64961, 106.7012733),
 202: (26.53689432, 106.5610162),
 203: (26.40243882, 106.6069701),
 204: (26.40536776, 106.6087467),
 205: (26.622035, 106.748415),
 206: (26.50657284, 106.7076292),
 207: (26.49270421, 106.7356117),
 208: (26.64269209, 106.6201524),
 209: (26.6359067, 106.621335),
 210: (26.63861823, 106.6186094),
 211: (26.59891355, 106.7010298),
 212: (26.60157412, 106.7002093),
 213: (26.63841039, 106.6118904),
 214: (26.56219167, 106.6768494),
 215: (26.55976056, 106.6755294),
 216: (26.59504884, 106.7074205),
 217: (26.60920352, 106.6355004),
 218: (26.60788029, 106.6383107),
 219: (26.49282035, 106.5065117),
 220: (26.56503308, 106.6801309),
 221: (26.6154151, 106.7051545),
 222: (26.39490444, 106.6550914),
 223: (26.5085938, 106.7837809),
 224: (26.54433078, 106.7649925),
 225: (26.54492217, 106.7654067),
 226: (26.56523734, 106.7082615),
 227: (26.53959286, 106.7296704),
 228: (26.35869563, 106.462438),
 229: (26.61518937, 106.640453),
 230: (26.62464797, 106.5874745),
 231: (26.62619001, 106.6170109),
 232: (26.62622577, 106.6178764),
 233: (26.51427191, 106.6878306),
 234: (26.5319618, 106.7071759),
 235: (26.51170639, 106.6825564),
 236: (26.45143324, 106.6610166),
 237: (26.45674226, 106.6593719),
 238: (26.54791284, 106.5535592),
 239: (26.62295359, 106.7371985),
 240: (26.55889916, 106.7120028),
 241: (26.55519372, 106.7169964),
 242: (26.49891833, 106.657685),
 243: (26.66028488, 106.8058696),
 244: (26.67518657, 106.8139821),
 245: (26.58228475, 106.5049576),
 246: (26.48698106, 106.8296927),
 247: (26.49507907, 106.8279669),
 248: (26.51324791, 106.7487748),
 249: (26.55136245, 106.6844346),
 250: (26.65173781, 106.6127678),
 251: (26.68933821, 106.652427),
 252: (26.63662612, 106.7704768),
 253: (26.74949837, 106.6600209),
 254: (26.6207276, 106.6640859),
 255: (26.75851434, 106.6711532),
 256: (26.75856185, 106.6752916),
 257: (26.74553853, 106.6582966),
 258: (26.60838705, 106.722097),
 259: (26.55862665, 106.5643308),
 260: (26.64203554, 106.7390792),
 261: (26.59268153, 106.6964291),
 262: (26.60544801, 106.617955),
 263: (26.59736276, 106.7038962),
 264: (26.47205991, 106.4991878),
 265: (26.64562595, 106.764119),
 266: (26.36079398, 106.6658162),
 267: (27.09978257, 106.7315495),
 268: (26.59141266, 106.7877918),
 269: (26.53972179, 106.7265722),
 270: (26.60048389, 106.5897575),
 271: (26.58260709, 106.7617748),
 272: (26.64168984, 106.6065565),
 273: (27.09680318, 106.7351271),
 274: (26.49409223, 106.6712666),
 275: (26.57789463, 106.675729),
 276: (26.54063666, 106.4968217),
 277: (26.55784744, 106.7251348),
 278: (27.08839447, 106.6954077),
 279: (26.56213176, 106.7150233),
 280: (26.56213117, 106.7149938),
 281: (26.55281444, 106.7168006),
 282: (26.55006683, 106.7171258),
 283: (26.619255, 106.7008067),
 284: (26.61730945, 106.7000757),
 285: (26.61768746, 106.7035828),
 286: (27.13468833, 106.7183282),
 287: (26.51220894, 106.7166514),
 288: (26.50828183, 106.7161846),
 289: (26.51165634, 106.7180418),
 290: (26.63918585, 106.7869374),
 291: (26.57033283, 106.7222835),
 292: (26.56768268, 106.72047),
 293: (26.67881984, 106.6136574),
 294: (26.67656434, 106.6059805),
 295: (26.50623322, 106.7322025),
 296: (26.54520953, 106.6796748),
 297: (27.05020146, 106.7396408),
 298: (27.055315, 106.7421314),
 299: (27.05163005, 106.7294563),
 300: (26.61497873, 106.6979415),
 301: (26.60204488, 106.7545941),
 302: (26.46211511, 106.7431748),
 303: (26.59577078, 106.7007849),
 304: (26.5632214, 106.5668955),
 305: (27.09842174, 106.730524),
 306: (26.59163254, 106.7128816),
 307: (26.60678416, 106.7561744),
 308: (26.60560971, 106.7560778),
 309: (26.60699326, 106.7594606),
 310: (26.60700953, 106.7571762),
 311: (26.56836498, 106.6801193),
 312: (26.4828943, 106.8424912),
 313: (26.50965619, 106.7574013),
 314: (26.54972273, 106.7867884),
 315: (26.56294125, 106.7658882),
 316: (26.56600422, 106.7845144),
 317: (26.54627621, 106.770778),
 318: (26.49020645, 106.8730334),
 319: (26.49792194, 106.8490359),
 320: (26.56581587, 106.7218295),
 321: (26.60472667, 106.6550442),
 322: (26.48010667, 106.6310417),
 323: (26.477085, 106.628165),
 324: (26.4861255, 106.63643),
 325: (26.60518235, 106.6378841),
 326: (26.60956603, 106.6417879),
 327: (26.59692299, 106.5571394),
 328: (26.53107786, 106.7739062),
 329: (26.44305322, 106.6632388),
 330: (26.5310899, 106.7738832),
 331: (26.70157826, 106.6824244),
 332: (26.62755275, 106.6504656),
 333: (26.68716902, 106.6534569),
 334: (26.6874997, 106.6584349),
 335: (26.582398, 106.6736919),
 336: (26.5771597, 106.6582519),
 337: (27.05212024, 106.726932),
 338: (26.54662836, 106.7164395),
 339: (26.49310169, 106.6948112),
 340: (27.10128563, 106.7305005),
 341: (26.59617269, 106.6557302),
 342: (26.59128416, 106.7098165),
 343: (27.10966473, 106.7288387),
 344: (26.53394783, 106.7284395),
 345: (26.60184872, 106.5815124),
 346: (26.61131042, 106.5816631),
 347: (26.60932273, 106.5747192),
 348: (26.59113723, 106.7951986),
 349: (26.58828098, 106.7098467),
 350: (26.54939169, 106.7300332),
 351: (26.61884167, 106.7490333),
 352: (26.56522709, 106.6898983),
 353: (26.52581197, 106.6983886),
 354: (26.53404373, 106.6888021),
 355: (26.53269643, 106.6821947),
 356: (26.53243601, 106.6792315),
 357: (26.53369373, 106.6785351),
 358: (27.05731901, 106.7184811),
 359: (26.5705626, 106.7249381),
 360: (26.57068528, 106.56149),
 361: (26.57518694, 106.5586169),
 362: (26.57018638, 106.5619292),
 363: (26.56049407, 106.7453812),
 364: (26.56143236, 106.741167),
 365: (26.56424856, 106.7371921),
 366: (26.64465886, 106.6454081),
 367: (26.64090985, 106.6445031),
 368: (26.64105874, 106.6447958),
 369: (26.64947176, 106.6411808),
 370: (26.64935106, 106.6412857),
 371: (26.55242121, 106.6822054),
 372: (26.5320847, 106.7638329),
 373: (26.62370667, 106.7443767),
 374: (26.60277331, 106.665619),
 375: (26.59033442, 106.6673471),
 376: (27.09592207, 106.7316789),
 377: (26.51411229, 106.6737436),
 378: (26.53368914, 106.6856215),
 379: (26.53505683, 106.7821923),
 380: (26.53519154, 106.7821394),
 381: (26.53251472, 106.7830869),
 382: (26.62833363, 106.6759333),
 383: (26.58864433, 106.8355237),
 384: (26.34574778, 106.6731033),
 385: (26.51135015, 106.7129834),
 386: (26.567685, 106.6158161),
 387: (26.52628517, 106.709716),
 388: (26.40799782, 106.7389892),
 389: (26.57577378, 106.7123104),
 390: (26.47673145, 106.7983886),
 391: (26.61022675, 106.5601555),
 392: (26.40839344, 106.6144286),
 393: (26.41225526, 106.6269472),
 394: (26.63057005, 106.7414365),
 395: (26.63144344, 106.7433842),
 396: (26.62638944, 106.7426165),
 397: (26.57911807, 106.622621),
 398: (26.3758201, 106.6346897),
 399: (26.68597549, 106.6293596),
 400: (26.64085287, 106.7928524),
 401: (26.48095396, 106.6692368),
 402: (26.69017839, 106.8479662),
 403: (26.5568853, 106.7023981),
 404: (26.60920268, 106.7171615),
 405: (26.60342735, 106.7179831),
 406: (26.58087939, 106.7038918),
 407: (26.59134847, 106.7806467),
 408: (26.49208182, 106.6291983),
 409: (26.5954541, 106.6691625),
 410: (26.63918388, 106.7828768),
 411: (26.48625395, 106.8244377),
 412: (26.68497074, 106.6187544),
 413: (26.44923165, 106.5724025),
 414: (26.5815618, 106.6494864),
 415: (26.621925, 106.6948183),
 416: (26.5955444, 106.6690465),
 417: (26.60853463, 106.7072636),
 418: (26.54641318, 106.7754995),
 419: (26.55440408, 106.6831719),
 420: (26.55568016, 106.6856654),
 421: (26.60120517, 106.60516),
 422: (26.73119003, 106.6576403),
 423: (26.49989685, 106.8441096),
 424: (26.5851599, 106.6898932),
 425: (26.50769877, 107.004873),
 426: (26.68617535, 106.708607),
 427: (26.62665623, 106.6044353),
 428: (26.61573112, 106.6041934),
 429: (26.6198529, 106.6090117),
 430: (26.58856797, 106.6949286),
 431: (26.58905542, 106.7007028),
 432: (26.47196731, 106.669911),
 433: (26.41564858, 106.741226),
 434: (26.39566377, 106.750085),
 435: (26.39930496, 106.7425603),
 436: (26.42684749, 106.6743827),
 437: (26.60476655, 106.7111408),
 438: (26.60641134, 106.7108283),
 439: (26.60709333, 106.7070915),
 440: (26.39631653, 106.4954119),
 441: (26.49465683, 106.8360825),
 442: (26.66033512, 106.5790123),
 443: (26.69814497, 106.8636909),
 444: (26.62363368, 106.6603053),
 445: (26.62421221, 106.652825),
 446: (26.69183123, 106.8553452),
 447: (26.58210075, 106.7199612),
 448: (26.57397896, 106.7251668),
 449: (26.58075583, 106.7207085),
 450: (26.52626157, 106.7719129),
 451: (26.52582371, 106.7717113),
 452: (26.61227995, 106.5836112),
 453: (26.6190092, 106.5841353),
 454: (26.59941548, 106.582689),
 455: (26.58146554, 106.7408977),
 456: (26.35106972, 106.4796728),
 457: (26.58570498, 106.7101151),
 458: (26.57943666, 106.7113848),
 459: (26.54873765, 106.733247),
 460: (26.56033289, 106.7362536),
 461: (26.55154157, 106.7357659),
 462: (26.35763878, 106.4798069),
 463: (26.63386333, 106.69396),
 464: (26.46339098, 106.8113337),
 465: (27.07025499, 106.7456562),
 466: (26.58303744, 106.7105135),
 467: (26.60383862, 106.5744917),
 468: (26.50272483, 106.7037132),
 469: (26.50272483, 106.7037132),
 470: (26.51419514, 106.6877632),
 471: (26.51383382, 106.6940121),
 472: (26.50638837, 106.6906223),
 473: (26.59961367, 106.6349246),
 474: (26.47799036, 106.7208366),
 475: (26.6165931, 106.7112123),
 476: (26.61889005, 106.7095336),
 477: (26.61992139, 106.7105256),
 478: (26.51484436, 106.7596663),
 479: (26.51280552, 106.7611887),
 480: (26.51315224, 106.758929),
 481: (26.4203144, 106.7083436),
 482: (26.63184237, 106.7923942),
 483: (26.59079051, 106.7610719),
 484: (26.55830514, 106.6655979),
 485: (26.55878168, 106.6653011),
 486: (26.56414759, 106.6675124),
 487: (26.56742305, 106.669183),
 488: (26.56271052, 106.6669913),
 489: (26.46142667, 106.602555),
 490: (26.64340186, 106.6660589),
 491: (26.56825139, 106.5670006),
 492: (26.6915614, 106.6759328),
 493: (26.41890919, 106.6512225),
 494: (26.59655994, 106.7611645),
 495: (26.60045612, 106.7578017),
 496: (26.60363877, 106.7504198),
 497: (26.60363861, 106.7504197),
 498: (26.59274739, 106.7556352),
 499: (26.593391, 106.7601649),
 500: (26.59287107, 106.7599401),
 501: (26.59100223, 106.7493389),
 502: (26.59803611, 106.7470342),
 503: (26.59497637, 106.7478306),
 504: (26.59569341, 106.7471668),
 505: (26.59254014, 106.7514401),
 506: (26.59598047, 106.7470078),
 507: (26.60261071, 106.6237165),
 508: (26.56569505, 106.7028423),
 509: (26.522838, 106.6844246),
 510: (26.43763715, 106.5049792),
 511: (26.59114778, 106.7595432),
 512: (26.59209478, 106.7594673),
 513: (26.59220302, 106.7562088),
 514: (26.59200948, 106.764181),
 515: (26.35741615, 106.4708714),
 516: (26.57703042, 106.7033736),
 517: (26.54057825, 106.7764949),
 518: (26.6638695, 106.6448336),
 519: (26.53454709, 106.7212704),
 520: (26.69649249, 106.8634612),
 521: (26.65817404, 106.6281661),
 522: (26.62635267, 106.7425348),
 523: (26.52088004, 106.7281792),
 524: (26.61101848, 106.6994665),
 525: (26.6018362, 106.7040963),
 526: (26.56682694, 106.7198542),
 527: (26.56580955, 106.7246928),
 528: (26.55725354, 106.7641126),
 529: (26.57842809, 106.705399),
 530: (26.55057132, 106.7346027),
 531: (26.56908578, 106.6970535),
 532: (26.68873596, 106.8384134),
 533: (26.64865655, 106.6228384),
 534: (26.59091228, 106.7145607),
 535: (26.681634, 106.632405),
 536: (26.59157991, 106.5830649),
 537: (26.55202585, 106.7032677),
 538: (26.52255994, 106.6791475),
 539: (26.51851583, 106.6738188),
 540: (27.15083171, 106.7216157),
 541: (26.35692799, 106.449607),
 542: (26.74269366, 106.7248183),
 543: (26.59924191, 106.6572753),
 544: (26.61043131, 106.6131694),
 545: (26.610493, 106.6156763),
 546: (26.61009973, 106.609687),
 547: (26.60863256, 106.6040403),
 548: (27.07462638, 106.7424229),
 549: (26.55503243, 106.6674445),
 550: (26.5651958, 106.6702096),
 551: (26.56526566, 106.6702408),
 552: (26.5593375, 106.6680176),
 553: (26.55469465, 106.6672075),
 554: (26.55485821, 106.6664667),
 555: (26.58556557, 106.6978545),
 556: (26.48993447, 106.6968788),
 557: (26.48382929, 106.6942776),
 558: (26.44532427, 106.7094344),
 559: (26.4897573, 106.6964322),
 560: (26.58948457, 106.754477),
 561: (27.09920119, 106.7282648),
 562: (27.0997042, 106.7288212),
 563: (27.09900778, 106.7277911),
 564: (26.51791561, 106.5179976),
 565: (27.10211363, 106.7290697),
 566: (26.50884086, 106.8726937),
 567: (26.40309209, 106.6163949),
 568: (26.40437778, 106.623745),
 569: (26.38529778, 106.6236303),
 570: (26.39037669, 106.626786),
 571: (26.40433106, 106.6236073),
 572: (26.38618344, 106.6229735),
 573: (26.74334532, 106.6566897),
 574: (26.56860389, 106.5646281),
 575: (26.48195767, 106.8423385),
 576: (26.48403421, 106.8364241),
 577: (26.60424662, 106.7987729),
 578: (26.59672791, 106.605487),
 579: (26.60149722, 106.6051744),
 580: (26.39071685, 106.6749384),
 581: (26.60669833, 106.7027317),
 582: (26.58993894, 106.7261606),
 583: (26.61372333, 106.7247),
 584: (26.57828891, 106.7146484),
 585: (26.62076324, 106.6031118),
 586: (26.54267508, 106.5505072),
 587: (26.7069664, 106.654155),
 588: (26.7025063, 106.6192673),
 589: (26.5958786, 106.5589103),
 590: (26.47897398, 106.7403884),
 591: (26.46622667, 106.7031835),
 592: (26.40761134, 106.5993577),
 593: (26.48515618, 106.843523),
 594: (26.58129799, 106.6648477),
 595: (26.43830243, 106.7446821),

In [62]:
def get_color(value, max_value):
    colors = ['#FFEDA0', '#FEB24C', '#FD8D3C', '#FC4E2A', '#E31A1C', '#BD0026', '#800026']
    index = int(min((value / max_value),1) * (len(colors) - 1))
    return colors[index]

In [65]:
import folium
m = folium.Map(location=[26.315, 106.0], zoom_start=12, tiles='CartoDB positron')
max_flow = 100
for station, coord in coords_dict.items():
    folium.CircleMarker(
                location=coord,
                radius=10,  # 增大标记大小
                popup=f'Station {station}',
                tooltip=f'Station {station}',
                color='blue',  # 边框颜色
                fill=True,
                fill_color=get_color(station_people_nums[station], max_flow),  # 填充颜色
                fill_opacity=0.7
                    ).add_to(m)
for route, flow in road_section_people_nums.items():
    start, end = route.split('_')
    start_coord = coords_dict[int(start)]
    end_coord = coords_dict[int(end)]
    folium.PolyLine(
                locations=[start_coord, end_coord],
                weight=10,  # 增加线条宽度
                color=get_color(flow, max_flow),  # 线条颜色
                opacity=0.7  # 透明度
                    ).add_to(m)
m.save(f'heatmap_.html')

In [ ]:
#this_simu.step()
this_simu.observe()