In [1]:
from timetable import timetable
from passenger import simu
import sys
sys.argv = ['debug.ipynb', 
            '--card_data_path', '../card_info.csv', 
            '--bus_data_path', '../公交数据.xlsx',
            '--road_line_station_setting_path', '../datas/road_line_station_structure_setting.json',
            '--station_distance_rank_path', '../datas/station_pair_distance_rank_index.csv',
            '--id_2_station_path', '../datas/id_2_station.json',
            '--station_2_id_path', '../datas/station_2_id.json']
import argparse
parser = argparse.ArgumentParser()
parser.add_argument('--card_data_path',default='./card_info.csv')
parser.add_argument('--bus_data_path',default= './公交数据.xlsx')
parser.add_argument('--road_line_station_setting_path',default= './datas/road_line_station_structure_setting.json')
parser.add_argument('--station_distance_rank_path',default= './datas/station_pair_distance_rank_index.csv')
parser.add_argument('--id_2_station_path',default= './datas/id_2_station.json')
parser.add_argument('--station_2_id_path',default= './datas/station_2_id.json')
myargs = parser.parse_args()
mytime_table = timetable(\
    card_data_path = myargs.card_data_path,\
    bus_data_path = myargs.bus_data_path,\
    road_line_station_setting_path = myargs.road_line_station_setting_path,\
    station_distance_rank_path = myargs.station_distance_rank_path,\
    id_2_station_path = myargs.id_2_station_path,\
    station_2_id_path = myargs.station_2_id_path)
this_simu = simu(\
    mytime_table,\
    card_data_path = myargs.card_data_path,\
    bus_data_path = myargs.bus_data_path,\
    road_line_station_setting_path = myargs.road_line_station_setting_path,\
    station_distance_rank_path = myargs.station_distance_rank_path,\
    id_2_station_path = myargs.id_2_station_path,\
    station_2_id_path = myargs.station_2_id_path,\
    time_accurate = 8,\
    start_hour = 8,\
    start_minute = 23)

/root/mnt/bus_corr/all_code/timetable.py:144: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trip_1_0929['trip'] = trip_1_0929.\
/root/mnt/bus_corr/all_code/timetable.py:162: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp1.rename(columns = transfer,inplace=True)
/root/mnt/bus_corr/all_code/timetable.py:163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp2.rename(columns = transfer,inplace=True)
2024-06-18 08:25:45.729 | INFO     | timetable:__init__:28 - timetable process time:274.3118476867676
/root/mnt/bus_corr/all_code/passenger.py:131: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  day_0929_dataframe['this_od_trip_start_station'] = day_0929_dataframe.apply(lambda x: self.get_station_id(x['line_identity'],x['station_identity']),axis=1)
2024-06-18 08:26:25.651 | INFO     | passenger:__init__:38 - process time:39.91991448402405

In [2]:
import pandas as pd
this_simu.now_minute += 1
if this_simu.now_minute == 60:
    this_simu.now_minute = 0
    this_simu.now_hour += 1
if this_simu.now_hour == 24:
    this_simu.now_hour = 0
station_id_list = list(this_simu.id_2_station.keys())
now_conditions_df=pd.DataFrame({'this_od_trip_start_station':station_id_list,\
                                        'hour':[this_simu.now_hour]*len(station_id_list),\
                                        'minute_group':[this_simu.now_minute//this_simu.time_accurate]*len(station_id_list)})

In [3]:
now_user_all_possible_route_df = now_conditions_df.merge(\
            this_simu.different_time_user_produce, \
            left_on=['this_od_trip_start_station', 'hour', 'minute_group'],\
            right_on = ['global_station_id','hour','minute_group'], how='left').fillna(0)

/tmp/ipykernel_19929/2998417739.py:4: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  right_on = ['global_station_id','hour','minute_group'], how='left').fillna(0)

In [4]:
this_simu.different_time_user_produce_nums

        this_od_trip_start_station  hour minute_group  count
0                                0     5            0      0
1                                0     5            1      0
2                                0     5            2      0
3                                0     5            3      0
4                                0     5            4      0
...                            ...   ...          ...    ...
177531                        1448    23            3      0
177532                        1448    23            4      0
177533                        1448    23            5      0
177534                        1448    23            6      0
177535                        1448    23            7      0

[177536 rows x 4 columns]

In [5]:
now_station_routes_and_nums = \
                    now_user_all_possible_route_df.merge(this_simu.different_time_user_produce_nums,\
                                     left_on=['this_od_trip_start_station', 'hour', 'minute_group'],\
                                     right_on = ['this_od_trip_start_station', 'hour', 'minute_group'],\
                                     how='left').fillna(0)

/tmp/ipykernel_19929/3131170115.py:5: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  how='left').fillna(0)

In [18]:
import random
import numpy as np
def uniform_sample(x,time_accurate):
    if x['length']!=0:
        #平均流量
        average_nums = int(x['count'])/time_accurate
        actual_nums = np.random.poisson(average_nums)
        return random.choices(x['od_trip'],k=actual_nums)
    else:
        return []

In [20]:
now_station_routes_and_nums['users'] = now_station_routes_and_nums.apply(lambda x:uniform_sample(x,this_simu.time_accurate),axis=1)

In [21]:
now_passengers = []
for row_index in range(len(now_station_routes_and_nums)):
    if len(now_station_routes_and_nums[row_index:row_index+1]['users'].values[0])!=0:
        #print(merged_df[row_index:row_index+1]['users'].values[0])
        start_station = now_station_routes_and_nums[row_index:row_index+1]['this_od_trip_start_station'].values[0]
        start_time = str(this_simu.now_hour)+':'+str(this_simu.now_minute)+':00'
        start_time = pd.to_datetime(start_time, format='%H:%M:%S', errors='coerce').time()
        #start_time = now_station_routes_and_nums[row_index:row_index+1]['minute_group'].values[0]
        for user_instance in now_station_routes_and_nums[row_index:row_index+1]['users'].values[0]:
            now_passengers.append({\
                        'start_station':user_instance['start_station'],\
                        'start_time':start_time,\
                        'target_station':user_instance['end_station'],\
                        'target_line':user_instance['this_line']})
        #根据时间表为每个乘客添加时间表

In [27]:
for user in now_passengers:
    if user['start_station'] < user['target_station'] and this_simu.time_schedule.time_table[user['target_line']] is not None:
        time_df = this_simu.time_schedule.time_table[user['target_line']]
        time_df_column = time_df.loc[:,str(user['start_station'])]
        row_index = time_df_column[time_df_column>=user['start_time']].index.min()
        column_index = time_df.columns.get_loc(str(user['start_station']))
        user['time_table'] = time_df.iloc[row_index,column_index:]
        this_simu.total_passengers.append(user)
    else:
        continue

In [34]:
this_simu.total_passengers

[{'start_station': 6,
  'start_time': datetime.time(8, 24),
  'target_station': 33,
  'target_line': 253,
  'time_table': 6            10:42:35
  7            10:48:48
  8            10:49:57
  9            10:51:44
  10    10:53:43.333333
  11    10:55:42.666667
  12           10:57:42
  13    10:57:44.500000
  14           10:57:47
  15    10:57:49.500000
  16           10:57:52
  17           11:05:34
  18           11:07:13
  19    11:10:26.333333
  20    11:13:39.666667
  21           11:16:53
  22           11:19:18
  23           11:22:18
  24           11:25:18
  25           11:28:18
  26           11:31:01
  27           11:37:54
  28           11:44:47
  29           11:51:40
  30           11:58:33
  31           12:00:57
  32           12:03:12
  33           12:06:13
  34           12:09:14
  35           12:12:34
  36    12:14:41.500000
  37           12:16:49
  38           12:20:13
  39           12:23:37
  40           12:27:01
  41           12:28:39
  42           12:30:17
  43           12:31:55
  44    12:33:29.142857
  45    12:35:03.285714
  46    12:36:37.428571
  47    12:38:11.571429
  48    12:39:45.714286
  49    12:41:19.857143
  50           12:42:54
  51           12:46:47
  52           12:50:40
  53           12:54:33
  54           12:58:26
  55           13:02:19
  56           13:06:12
  Name: 8, dtype: object},
 {'start_station': 6,
  'start_time': datetime.time(8, 24),
  'target_station': 33,
  'target_line': 253,
  'time_table': 6            10:42:35
  7            10:48:48
  8            10:49:57
  9            10:51:44
  10    10:53:43.333333
  11    10:55:42.666667
  12           10:57:42
  13    10:57:44.500000
  14           10:57:47
  15    10:57:49.500000
  16           10:57:52
  17           11:05:34
  18           11:07:13
  19    11:10:26.333333
  20    11:13:39.666667
  21           11:16:53
  22           11:19:18
  23           11:22:18
  24           11:25:18
  25           11:28:18
  26           11:31:01
  27           11:37:54
  28           11:44:47
  29           11:51:40
  30           11:58:33
  31           12:00:57
  32           12:03:12
  33           12:06:13
  34           12:09:14
  35           12:12:34
  36    12:14:41.500000
  37           12:16:49
  38           12:20:13
  39           12:23:37
  40           12:27:01
  41           12:28:39
  42           12:30:17
  43           12:31:55
  44    12:33:29.142857
  45    12:35:03.285714
  46    12:36:37.428571
  47    12:38:11.571429
  48    12:39:45.714286
  49    12:41:19.857143
  50           12:42:54
  51           12:46:47
  52           12:50:40
  53           12:54:33
  54           12:58:26
  55           13:02:19
  56           13:06:12
  Name: 8, dtype: object},
 {'start_station': 1,
  'start_time': datetime.time(8, 24),
  'target_station': 12,
  'target_line': 76,
  'time_table': 1            08:31:28
  2            08:34:46
  3            08:38:59
  4            08:39:35
  5            08:41:33
  6            08:42:58
  7            08:44:23
  8            08:45:14
  9            08:51:30
  10           08:50:11
  11           08:54:20
  12           08:56:01
  13           09:03:04
  14           09:03:24
  15           09:11:18
  16           09:06:21
  17           09:07:55
  18           09:09:29
  19           09:12:28
  20           09:12:57
  21           09:15:29
  22           09:20:19
  23           09:25:02
  24           09:26:12
  25           09:27:22
  26           09:28:32
  27           09:31:29
  28           09:35:41
  29           09:36:46
  30    09:39:19.333333
  31    09:41:52.666667
  32           09:44:26
  33    09:45:57.750000
  34    09:47:29.500000
  35    09:49:01.250000
  36           09:50:33
  37           09:52:19
  38    09:58:14.500000
  39           10:04:10
  40    10:05:54.500000
  41           10:07:39
  42    10:09:23.500000
  43           10:11:08
  44           10:16:02
  45           10:20:56
  46           09:04:34
  47           10:13:23
  48           11:22:12
  49           12:31:01
  50           13:39:50
  Name: 7, dtype: object},
 {'start_station': 1,
  'start_time': datetime.time(8, 24),
  'target_station': 18,
  'target_line': 234,
  'time_table': 1            08:28:31
  2            08:30:35
  3            08:32:20
  4            08:34:29
  5            08:35:59
  6            08:39:13
  7            08:40:51
  8            08:42:07
  9            08:45:59
  10           08:48:04
  11           08:49:42
  12           08:52:02
  13           09:03:51
  14           08:55:27
  15           08:58:06
  16           09:01:42
  17           09:08:42
  18    09:09:34.500000
  19           09:10:27
  20           09:22:57
  21           09:14:17
  22           09:14:22
  23           09:20:28
  24           09:41:03
  25           09:22:46
  26           09:28:16
  27           09:50:06
  28    09:46:29.666667
  29    09:42:53.333333
  30           09:39:17
  31           09:40:38
  32           09:40:52
  33           09:45:39
  34           09:48:49
  35           09:51:59
  Name: 9, dtype: object},
 {'start_station': 1,
  'start_time': datetime.time(8, 24),
  'target_station': 18,
  'target_line': 234,
  'time_table': 1            08:28:31
  2            08:30:35
  3            08:32:20
  4            08:34:29
  5            08:35:59
  6            08:39:13
  7            08:40:51
  8            08:42:07
  9            08:45:59
  10           08:48:04
  11           08:49:42
  12           08:52:02
  13           09:03:51
  14           08:55:27
  15           08:58:06
  16           09:01:42
  17           09:08:42
  18    09:09:34.500000
  19           09:10:27
  20           09:22:57
  21           09:14:17
  22           09:14:22
  23           09:20:28
  24           09:41:03
  25           09:22:46
  26           09:28:16
  27           09:50:06
  28    09:46:29.666667
  29    09:42:53.333333
  30           09:39:17
  31           09:40:38
  32           09:40:52
  33           09:45:39
  34           09:48:49
  35           09:51:59
  Name: 9, dtype: object},
 {'start_station': 9,
  'start_time': datetime.time(8, 24),
  'target_station': 11,
  'target_line': 9,
  'time_table': 9            08:30:20
  10           08:32:07
  11           08:34:10
  12           08:34:35
  13           08:35:52
  14           08:39:05
  15           08:40:00
  16           08:42:48
  17           08:46:06
  18           08:49:37
  19           08:54:10
  20           08:56:56
  21           09:00:28
  22           09:04:00
  23           09:05:54
  24    09:08:41.500000
  25           09:11:29
  26           09:17:09
  27           09:19:50
  28           09:22:24
  29           09:25:37
  30           09:31:55
  31           09:30:46
  32           09:32:49
  33           09:35:52
  34           09:36:49
  35           09:41:34
  36           09:47:39
  37    09:56:33.666667
  38    10:05:28.333333
  39           10:14:23
  40           09:51:37
  41           09:58:59
  42           09:57:47
  43           09:56:35
  44           09:58:59
  45           09:59:52
  46           10:01:16
  47           10:02:40
  Name: 17, dtype: object},
 {'start_station': 30,
  'start_time': datetime.time(8, 24),
  'target_station': 39,
  'target_line': 38,
  'time_table': 30           08:29:29
  31           08:31:19
  32           08:33:20
  33           08:35:16
  34           08:37:51
  35           08:42:05
  36           08:43:50
  37           08:47:45
  38           08:58:12
  39           08:53:03
  40           08:55:58
  41    09:01:23.500000
  42           09:06:49
  43           09:06:51
  44           09:09:23
  45           09:09:48
  46           09:10:13
  47           09:10:38
  48           09:11:03
  Name: 9, dtype: object},
 {'start_station': 24,
  'start_time': datetime.time(8, 24),
  'target_station': 27,
  'target_line': 3,
  'time_table': 24           08:26:08
  25           08:31:33
  26    08:35:45.500000
  27           08:39:58
  28           08:44:11
  29           08:48:24
  Name: 17, dtype: object},
 {'start_station': 28,
  'start_time': datetime.time(8, 24),
  'target_station': 29,
  'target_line': 231,
  'time_table': 28           08:31:03
  29           08:39:32
  30           08:49:57
  31    08:53:05.500000
  32           08:56:14
  33    09:15:31.500000
  34           09:34:49
  35           09:20:32
  36           09:23:45
  37           10:08:04
  38           10:33:07
  39    10:20:21.750000
  40    10:07:36.500000
  41    09:54:51.250000
  42           09:42:06
  43           09:52:19
  44           09:46:16
  45           09:48:28
  46           09:52:03
  47           10:03:04
  48           10:06:30
  49           10:01:50
  50           10:10:44
  51           10:40:18
  52           10:44:03
  53           10:47:48
  54           10:51:33
  55           10:55:18
  56    10:57:37.750000
  57    10:59:57.500000
  58    11:02:17.250000
  59           11:04:37
  60    10:44:14.500000
  61           10:23:52
  62           11:06:13
  63           11:48:34
  64           12:30:55
  65           13:13:16
  Name: 7, dtype: object},
 {'start_station': 24,
  'start_time': datetime.time(8, 24),
  'target_station': 27,
  'target_line': 3,
  'time_table': 24           08:26:08
  25           08:31:33
  26    08:35:45.500000
  27           08:39:58
  28           08:44:11
  29           08:48:24
  Name: 17, dtype: object},
 {'start_station': 28,
  'start_time': datetime.time(8, 24),
  'target_station': 35,
  'target_line': 38,
  'time_table': 28    08:38:39
  29    08:41:20
  30    08:44:40
  31    08:45:59
  32    08:47:19
  33    08:49:10
  34    09:02:23
  35    09:04:04
  36    08:55:45
  37    08:58:49
  38    09:08:12
  39    09:13:00
  40    09:12:59
  41    09:18:54
  42    09:18:51
  43    09:28:19
  44    09:22:22
  45    09:25:46
  46    09:29:10
  47    09:32:34
  48    09:35:58
  Name: 10, dtype: object},
 {'start_station': 28,
  'start_time': datetime.time(8, 24),
  'target_station': 35,
  'target_line': 38,
  'time_table': 28    08:38:39
  29    08:41:20
  30    08:44:40
  31    08:45:59
  32    08:47:19
  33    08:49:10
  34    09:02:23
  35    09:04:04
  36    08:55:45
  37    08:58:49
  38    09:08:12
  39    09:13:00
  40    09:12:59
  41    09:18:54
  42    09:18:51
  43    09:28:19
  44    09:22:22
  45    09:25:46
  46    09:29:10
  47    09:32:34
  48    09:35:58
  Name: 10, dtype: object},
 {'start_station': 8,
  'start_time': datetime.time(8, 24),
  'target_station': 22,
  'target_line': 27,
  'time_table': 8            08:26:28
  9            08:28:07
  10           08:30:58
  11           08:33:49
  12           08:39:10
  13           08:41:07
  14           08:44:04
  15           09:04:29
  16    09:01:18.666667
  17    08:58:08.333333
  18           08:54:58
  19           08:57:25
  20           09:11:56
  21           09:16:43
  22           09:12:15
  23           09:16:37
  24           09:20:43
  25           09:24:03
  26           09:25:45
  27           09:28:49
  28           09:29:31
  29           09:43:31
  30           09:49:48
  31           09:47:39
  32           09:45:30
  33           09:43:21
  34           09:41:12
  35           09:39:03
  Name: 9, dtype: object},
 {'start_station': 6,
  'start_time': datetime.time(8, 24),
  'target_station': 25,
  'target_line': 36,
  'time_table': 6            08:27:02
  7            08:28:13
  8            08:29:56
  9            08:31:33
  10           08:32:44
  11           08:38:07
  12    08:42:22.333333
  14           08:50:53
  15           08:53:47
  16           08:57:37
  17           09:00:11
  18           09:00:29
  19           09:00:47
  20           09:01:05
  21           09:03:45
  22           09:05:14
  23           09:06:43
  24           09:08:12
  25           09:13:32
  26           09:18:21
  27           09:19:02
  28           09:19:43
  29           09:25:11
  30           09:36:30
  31           09:38:18
  32           09:40:02
  33           09:43:39
  34           09:47:16
  35           09:49:57
  36           09:52:38
  37           09:55:19
  38    09:58:10.666667
  13           08:46:39
  40           10:03:54
  42           10:06:45
  39           09:50:00
  41           10:01:12
  43           10:06:24
  Name: 15, dtype: object},
 {'start_station': 1,
  'start_time': datetime.time(8, 24),
  'target_station': 17,
  'target_line': 238,
  'time_table': 1            08:28:43
  2            08:31:48
  3            08:34:26
  4            08:37:45
  5            08:42:40
  6            08:41:02
  7            08:41:10
  8            08:47:49
  9            08:56:32
  10           08:59:18
  11           09:03:03
  12           09:03:21
  13           09:12:20
  14    09:14:24.500000
  15           09:16:29
  16           09:15:31
  17           09:14:33
  18           09:15:48
  19           09:17:03
  20           09:18:18
  21           09:19:52
  22           09:21:31
  23           09:22:10
  24           09:27:16
  25           09:31:47
  26           09:36:18
  28           09:38:00
  30           09:40:52
  36           10:12:50
  27    09:41:30.285714
  29           09:48:28
  31           10:02:07
  33           09:48:34
  32           09:57:00
  35           10:12:18
  37           10:15:45
  34    10:10:34.500000
  Name: 11, dtype: object},
 {'start_station': 1,
  'start_time': datetime.time(8, 24),
  'target_station': 8,
  'target_line': 269,
  'time_table': 1            08:30:45
  2            08:32:36
  3            08:33:36
  4            08:36:30
  5            08:40:43
  6            08:41:07
  7            08:45:07
  8            08:48:53
  9            08:50:18
  10           08:52:47
  11           08:54:07
  12           08:55:55
  13           09:00:58
  14           09:00:25
  15           09:02:53
  16           09:06:34
  17           09:14:19
  18    09:13:45.333333
  19    09:13:11.666667
  20           09:12:38
  21    09:13:06.333333
  22    09:13:34.666667
  23           09:14:03
  24    09:30:24.500000
  25           09:46:46
  26    10:03:07.500000
  27           10:19:29
  28           09:59:22
  29           09:39:15
  30           09:42:11
  31           10:17:24
  32           09:46:18
  33           09:48:50
  34           09:54:15
  35    10:05:39.333333
  36    10:17:03.666667
  37           10:28:28
  38    10:29:58.857143
  39    10:31:29.714286
  40    10:33:00.571429
  41    10:34:31.428571
  43    10:37:33.142857
  46    10:42:05.714286
  42    10:36:02.285714
  44           10:39:04
  48           10:17:50
  51    10:01:54.500000
  Name: 6, dtype: object},
 {'start_station': 1,
  'start_time': datetime.time(8, 24),
  'target_station': 18,
  'target_line': 238,
  'time_table': 1            08:28:43
  2            08:31:48
  3            08:34:26
  4            08:37:45
  5            08:42:40
  6            08:41:02
  7            08:41:10
  8            08:47:49
  9            08:56:32
  10           08:59:18
  11           09:03:03
  12           09:03:21
  13           09:12:20
  14    09:14:24.500000
  15           09:16:29
  16           09:15:31
  17           09:14:33
  18           09:15:48
  19           09:17:03
  20           09:18:18
  21           09:19:52
  22           09:21:31
  23           09:22:10
  24           09:27:16
  25           09:31:47
  26           09:36:18
  28           09:38:00
  30           09:40:52
  36           10:12:50
  27    09:41:30.285714
  29           09:48:28
  31           10:02:07
  33           09:48:34
  32           09:57:00
  35           10:12:18
  37           10:15:45
  34    10:10:34.500000
  Name: 11, dtype: object},
 {'start_station': 1,
  'start_time': datetime.time(8, 24),
  'target_station': 20,
  'target_line': 311,
  'time_table': 1     08:25:29
  2     08:27:17
  3     08:29:46
  4     08:31:15
  5     08:33:15
  6     08:34:55
  7     08:38:25
  8     08:39:31
  9     08:42:05
  10    08:46:35
  11    08:48:34
  12    08:52:29
  13    08:54:47
  14    08:54:55
  15    08:58:16
  16    08:59:59
  17    09:01:42
  18    09:04:05
  19    09:06:43
  20    09:10:09
  21    09:13:35
  22    09:15:31
  23    09:20:37
  24    09:22:57
  25    09:23:32
  26    09:25:26
  27    09:27:06
  28    09:28:46
  29    09:33:38
  30    09:38:53
  31    09:39:13
  32    09:39:33
  33    09:39:53
  Name: 14, dtype: object},
 {'start_station': 24,
  'start_time': datetime.time(8, 24),
  'target_station': 28,
  'target_line': 32,
  'time_table': 24           08:25:59
  25           08:44:21
  26           08:41:08
  27           08:37:55
  28           08:34:42
  29           09:03:43
  30           08:42:28
  31           08:43:52
  32           08:58:30
  33           09:11:10
  34           08:51:43
  35           09:20:07
  36           09:02:30
  37           09:08:02
  38           09:09:12
  39           09:11:04
  40           09:14:47
  41           09:34:44
  42           09:20:14
  43           09:21:17
  44           09:41:05
  45    09:45:41.500000
  46           09:50:18
  47           09:43:56
  48           09:37:34
  49           09:31:12
  50           09:33:29
  51           09:35:46
  52           09:38:03
  Name: 9, dtype: object},
 {'start_station': 31,
  'start_time': datetime.time(8, 24),
  'target_station': 32,
  'target_line': 6,
  'time_table': 31    08:29:00.285714
  32    08:32:04.857143
  33    08:35:09.428571
  34           08:38:14
  35           08:41:19
  Name: 5, dtype: object},
 {'start_station': 9,
  'start_time': datetime.time(8, 24),
  'target_station': 13,
  'target_line': 82,
  'time_table': 9            08:28:22
  10           08:30:46
  11    08:32:25.500000
  12           08:34:05
  13           08:37:32
  14           08:37:40
  15           08:40:07
  16           08:43:02
  17           08:45:48
  18           08:48:34
  19           08:53:29
  20           08:55:18
  21           08:57:07
  22    08:58:15.500000
  23           08:59:24
  24           09:01:28
  25           09:02:42
  26           09:03:58
  27           09:05:35
  28           09:10:59
  29           09:14:16
  30           09:15:53
  31           09:16:52
  32           09:17:51
  33           09:18:50
  34           09:19:49
  35           09:20:48
  36           09:21:47
  Name: 4, dtype: object},
 {'start_station': 9,
  'start_time': datetime.time(8, 24),
  'target_station': 13,
  'target_line': 82,
  'time_table': 9            08:28:22
  10           08:30:46
  11    08:32:25.500000
  12           08:34:05
  13           08:37:32
  14           08:37:40
  15           08:40:07
  16           08:43:02
  17           08:45:48
  18           08:48:34
  19           08:53:29
  20           08:55:18
  21           08:57:07
  22    08:58:15.500000
  23           08:59:24
  24           09:01:28
  25           09:02:42
  26           09:03:58
  27           09:05:35
  28           09:10:59
  29           09:14:16
  30           09:15:53
  31           09:16:52
  32           09:17:51
  33           09:18:50
  34           09:19:49
  35           09:20:48
  36           09:21:47
  Name: 4, dtype: object},
 {'start_station': 9,
  'start_time': datetime.time(8, 24),
  'target_station': 13,
  'target_line': 82,
  'time_table': 9            08:28:22
  10           08:30:46
  11    08:32:25.500000
  12           08:34:05
  13           08:37:32
  14           08:37:40
  15           08:40:07
  16           08:43:02
  17           08:45:48
  18           08:48:34
  19           08:53:29
  20           08:55:18
  21           08:57:07
  22    08:58:15.500000
  23           08:59:24
  24           09:01:28
  25           09:02:42
  26           09:03:58
  27           09:05:35
  28           09:10:59
  29           09:14:16
  30           09:15:53
  31           09:16:52
  32           09:17:51
  33           09:18:50
  34           09:19:49
  35           09:20:48
  36           09:21:47
  Name: 4, dtype: object},
 {'start_station': 13,
  'start_time': datetime.time(8, 24),
  'target_station': 26,
  'target_line': 76,

In [50]:
from collections import defaultdict
now_time = str(this_simu.now_hour)+':'+str(this_simu.now_minute+30)+':00'
now_time = pd.to_datetime(now_time, format='%H:%M:%S', errors='coerce').time()
road_section_people_nums = defaultdict(int)
station_people_nums = defaultdict(int)

In [53]:
for user in this_simu.total_passengers:
    if user['time_table'].iloc[-1] is None or user['time_table'].iloc[-1]<now_time:
        print(user)
        this_simu.total_passengers.remove(user)
        continue
    else:
        next_id = None
        for i in range(len(user['time_table'])):
            if user['time_table'].iloc[i]>now_time:
                next_id = i
                break
        if next_id is None:
            #说明已经走完
            this_simu.total_passengers.remove(user)
            continue
        this_line = user['target_line']
        end_station = this_simu.road_line_station_structure_setting[str(this_line)]['all_stations'][next_id]
        if next_id == 0:
            #说明还没开始
            station_people_nums[this_simu.station_2_id[end_station]] +=1
            continue
        #根据当前线路和站点编号来确定路段。
        start_station = this_simu.road_line_station_structure_setting[str(this_line)]['all_stations'][next_id-1]
        road_section = f"{this_simu.station_2_id[start_station]}_{this_simu.station_2_id[end_station]}"
        road_section_people_nums[road_section] +=1
this_simu.road_section_people_nums = road_section_people_nums
this_simu.station_people_nums = station_people_nums

{'start_station': 6, 'start_time': datetime.time(8, 24), 'target_station': 33, 'target_line': 62, 'time_table': 6            08:31:16
7            08:34:04
8            08:34:32
9            08:35:00
10           08:35:28
11    08:36:53.500000
12           08:38:19
13           09:57:59
14           08:39:51
15    08:40:45.500000
16           08:41:40
17    08:42:48.500000
18           08:43:57
19    08:44:53.500000
20           08:45:50
21           08:49:30
22           08:53:10
23           09:45:15
24           08:51:00
25           11:11:38
26    11:02:12.900000
27    10:52:47.800000
28    10:43:22.700000
29    10:33:57.600000
30    10:24:32.500000
31    10:15:07.400000
32    10:05:42.300000
33    09:56:17.200000
34    09:46:52.100000
35           09:37:27
36           09:28:02
37           09:18:37
38           09:09:12
39           08:59:47
40           08:50:22
Name: 16, dtype: object}
{'start_station': 38, 'start_time': datetime.time(8, 24), 'target_station': 48, 'target_line': 263, 'time_table': 38    08:46:01.400000
39    08:43:06.800000
40    08:40:12.200000
41    08:37:17.600000
42           08:34:23
43           08:38:16
44           08:42:09
45           08:52:25
46    08:42:46.300000
47    08:33:07.600000
48    08:23:28.900000
49    08:13:50.200000
50    08:04:11.500000
51    07:54:32.800000
52    07:44:54.100000
53    07:35:15.400000
54    07:25:36.700000
55           07:15:58
56           07:06:20
57           06:56:42
58           06:47:04
59           06:37:26
Name: 4, dtype: object}
{'start_station': 16, 'start_time': datetime.time(8, 24), 'target_station': 19, 'target_line': 3, 'time_table': 16    08:25:33
17    08:26:06
18    08:30:22
19    08:31:13
20    08:41:36
21    08:35:03
22    08:36:42
23    08:38:07
24    08:39:50
25    08:54:32
26    08:50:43
27    08:46:54
28    08:43:05
29    08:39:16
Name: 20, dtype: object}
{'start_station': 48, 'start_time': datetime.time(8, 24), 'target_station': 53, 'target_line': 11, 'time_table': 48    08:27:56
49    08:29:34
50    08:31:12
51    08:32:20
52    08:33:28
53    08:34:36
Name: 4, dtype: object}
{'start_station': 27, 'start_time': datetime.time(8, 24), 'target_station': 38, 'target_line': 26, 'time_table': 27    08:37:22
28    08:38:14
Name: 6, dtype: object}
{'start_station': 19, 'start_time': datetime.time(8, 24), 'target_station': 23, 'target_line': 16, 'time_table': 19    08:31:29
20    08:39:50
21    08:34:45
22    08:37:37
23    08:40:04
24    08:44:28
25    08:47:07
26    08:47:59
27    08:48:51
Name: 10, dtype: object}
{'start_station': 17, 'start_time': datetime.time(8, 24), 'target_station': 20, 'target_line': 16, 'time_table': 17    08:27:37
18    08:29:24
19    08:31:29
20    08:39:50
21    08:34:45
22    08:37:37
23    08:40:04
24    08:44:28
25    08:47:07
26    08:47:59
27    08:48:51
Name: 10, dtype: object}
{'start_station': 21, 'start_time': datetime.time(8, 24), 'target_station': 23, 'target_line': 12, 'time_table': 21    08:28:58
22    08:30:34
23    08:38:21
24    08:46:08
25    08:53:55
Name: 7, dtype: object}
{'start_station': 22, 'start_time': datetime.time(8, 24), 'target_station': 33, 'target_line': 501, 'time_table': 22           08:24:16
23           08:25:17
24           08:25:21
25           08:30:00
26           08:32:38
27    08:32:55.666667
28    08:33:13.333333
29           08:33:31
30           08:36:13
31           08:36:33
32           08:41:26
33           08:43:24
34           08:36:36
36           08:41:06
37           08:42:33
38           08:42:56
39           08:52:40
40           09:02:24
41           09:12:08
42           09:21:52
43           09:31:36
44           09:41:20
45           09:51:04
47           10:10:32
48           10:20:16
49           10:30:00
50           10:39:44
51           10:49:28
52           10:59:12
20           05:47:44
16           05:08:48
15           04:59:04
17           05:18:32
35           08:13:44
Name: 16, dtype: object}
{'start_station': 30, 'start_time': datetime.time(8, 24), 'target_station': 34, 'target_line': 5, 'time_table': 30           08:25:47
31           08:25:54
32           08:26:01
33    08:26:53.500000
34           08:27:46
35           08:30:35
36           08:33:24
Name: 3, dtype: object}
{'start_station': 18, 'start_time': datetime.time(8, 24), 'target_station': 22, 'target_line': 16, 'time_table': 18    08:29:24
19    08:31:29
20    08:39:50
21    08:34:45
22    08:37:37
23    08:40:04
24    08:44:28
25    08:47:07
26    08:47:59
27    08:48:51
Name: 10, dtype: object}
{'start_station': 25, 'start_time': datetime.time(8, 24), 'target_station': 30, 'target_line': 61, 'time_table': 25           08:25:23
26           08:27:06
27           08:28:56
28           08:31:24
29           08:33:28
30           08:36:09
31           08:43:36
32           08:42:03
33           08:48:17
34    08:51:05.200000
36    08:56:41.600000
37    08:59:29.800000
38           09:02:18
39           08:56:17
40           09:06:33
41           09:06:45
42           09:09:05
43           09:10:22
44           09:52:01
45    09:59:00.222222
47    10:12:58.666667
48    10:19:57.888889
49    10:26:57.111111
50    10:33:56.333333
51    10:40:55.555556
15    06:29:23.555556
16    06:36:22.777778
35           08:49:08
18    06:50:20.526316
Name: 6, dtype: object}
{'start_station': 1, 'start_time': datetime.time(8, 24), 'target_station': 24, 'target_line': 313, 'time_table': 1            08:26:13
2            08:31:16
3            08:29:59
4            08:30:43
5            08:32:58
6            08:36:15
7            08:37:38
8            08:41:19
9            08:42:33
10           08:44:42
11           08:49:15
12           08:49:53
13           08:53:31
14    08:54:54.500000
15           08:56:18
16           08:58:20
17           09:05:43
18           09:01:20
19    09:02:22.500000
20           09:03:25
21           09:07:21
22           09:10:31
23           09:11:03
24           09:22:47
25    09:22:10.666667
26    09:21:34.333333
27           09:20:58
28           09:22:56
29           09:24:54
30           09:26:52
0            08:27:52
Name: 8, dtype: object}

In [55]:
this_simu.road_section_people_nums

defaultdict(int,
            {'874_663': 4,
             '933_744': 2,
             '1268_516': 4,
             '280_1011': 3,
             '28_31': 2,
             '659_828': 2,
             '1414_555': 4,
             '368_366': 2,
             '261_263': 2,
             '414_916': 2,
             '1045_1047': 5,
             '196_80': 2,
             '622_38': 2,
             '249_610': 2,
             '1155_263': 4,
             '1158_719': 4,
             '719_720': 8,
             '82_874': 2,
             '216_128': 6,
             '1155_756': 2,
             '798_799': 2,
             '33_28': 4,
             '184_807': 2,
             '1196_424': 2,
             '1148_1009': 2,
             '1414_1414': 6,
             '1063_1262': 3,
             '44_537': 2,
             '460_1277': 4,
             '66_461': 2,
             '1016_208': 6,
             '956_262': 2,
             '987_431': 4,
             '623_354': 6,
             '226_983': 4,
             '1373_1372': 12,
             '403_807': 2,
             '432_401': 2,
             '1118_1157': 18,
             '216_263': 2,
             '404_1173': 3,
             '731_33': 3,
             '768_1414': 4,
             '852_495': 2,
             '909_405': 2,
             '744_403': 8,
             '1122_798': 2,
             '1264_1293': 2,
             '341_929': 8,
             '261_1414': 6,
             '354_1073': 1,
             '2_790': 2,
             '353_623': 3,
             '419_610': 2,
             '31_28': 4,
             '1372_353': 2,
             '396_1036': 8,
             '951_493': 6,
             '239_628': 2,
             '657_1245': 4,
             '778_643': 2,
             '16_1358': 2,
             '1358_1173': 1,
             '49_144': 6,
             '284_300': 2,
             '371_419': 4,
             '1173_1155': 4,
             '389_1011': 2,
             '424_555': 4,
             '1414_261': 2,
             '539_851': 1,
             '31_122': 2,
             '983_633': 2,
             '1176_643': 2,
             '359_448': 2,
             '1052_1120': 5,
             '291_359': 4,
             '466_87': 2,
             '1155_216': 6,
             '577_268': 2,
             '1290_1288': 4,
             '1108_25': 2,
             '627_239': 2,
             '160_1138': 4,
             '349_128': 4,
             '584_1108': 4,
             '730_1283': 2,
             '1238_1427': 2,
             '945_687': 2,
             '290_410': 3,
             '35_471': 1,
             '758_711': 2,
             '1257_345': 6,
             '629_874': 2,
             '1036_522': 6,
             '523_1269': 4,
             '1314_320': 6,
             '682_1063': 8,
             '987_349': 3,
             '570_571': 2,
             '584_516': 2,
             '758_1208': 2,
             '1269_1422': 2,
             '406_711': 2,
             '23_933': 6,
             '1073_745': 4,
             '744_933': 6,
             '767_424': 2,
             '1061_1062': 2,
             '1030_2': 3,
             '1304_447': 2,
             '711_406': 1,
             '555_987': 3,
             '336_692': 2,
             '387_349': 2,
             '851_850': 2,
             '406_387': 2,
             '233_948': 2,
             '242_1267': 2,
             '431_430': 2,
             '1279_35': 2,
             '1413_1412': 2,
             '239_1150': 2,
             '908_1155': 2,
             '993_997': 3,
             '368_1285': 2,
             '427_143': 2,
             '335_1196': 2,
             '230_953': 2,
             '724_725': 1,
             '1075_69': 2,
             '745_23': 4,
             '1268_387': 2,
             '1011_1268': 2,
             '1188_32': 2,
             '552_550': 2,
             '403_744': 4,
             '349_534': 3,
             '1280_399': 4,
             '1208_866': 4,
             '913_534': 2,
             '590_207': 3,
             '736_1287': 2,
             '635_638': 4,
             '263_261': 2,
             '1196_122': 5,
             '534_534': 2,
             '251_1177': 2,
             '909_404': 4,
             '1417_987': 2,
             '1098_1112': 2,
             '401_274': 4,
             '607_1159': 2,
             '1320_1319': 6,
             '862_873': 4,
             '1218_1400': 6,
             '1188_916': 2,
             '795_1052': 2,
             '1228_521': 2,
             '473_1427': 2,
             '1231_442': 3,
             '1422_344': 3,
             '687_369': 4,
             '355_356': 4,
             '471_1373': 2,
             '155_465': 12,
             '1280_1100': 1,
             '1288_1292': 1,
             '1019_743': 1,
             '534_908': 1,
             '767_555': 1,
             '572_570': 1,
             '1319_1320': 1,
             '430_1376': 1,
             '61_1304': 1,
             '1197_1249': 1,
             '1412_1074': 1,
             '306_603': 1,
             '800_801': 1,
             '913_913': 1,
             '526_526': 2,
             '818_804': 1,
             '1392_444': 1,
             '404_909': 1,
             '1392_254': 1,
             '1074_624': 1})

In [ ]:
#this_simu.step()
this_simu.observe()